[2016-03-19 00:50] stragu opened #1 "Crash on startup"
Red Moon 2.1 from F-Droid on Android 4.2.2 crashes straight away, the GUI doesn't even appear.

Using a Fairphone 1.

[2016-03-19 10:14] raatmarien commented on #1
Thanks for letting me know! I'll look into it.

[2016-03-19 11:56] #1 closed

[2016-03-19 11:58] raatmarien commented on #1
It turns out there was a bug in the android support libraries v23.2.0, which was the latest when I added them. This bug affected pre Lollipop devices and crashed them on the UI load. The new version v23.2.1 fixes this bug, so I've upgraded the dependencies and tested the app on an android 4.2.2 device. The app seems to work now.

[2016-03-19 12:15] stragu commented on #1
Great, thank you for looking into it so quickly!

On March 19, 2016 9:58:33 PM AEST, raatmarien <notifications@github.com> wrote:

--
Stéphane Guillou
stragu.github.io

Sent from my Fairphone with K-9 Mail. Please excuse my brevity.

You can encrypt our communications by using OpenPGP. My public key
4E211060 is available on the keys.gnupg.net server.

[2016-03-19 13:35] ujinv opened #2 "Crashes when turned on on CM13"
On android 6.0.1 (cm13) ui shows ok, when i push enable button error appears: app stopped working. Then notification tray is trying to load smthng and the same error is shown again.

[2016-03-19 13:46] raatmarien commented on #2
Thanks for letting me know, I'll look into it.

[2016-03-19 14:48] pypcz opened #3 "Crashes when turned on Moto G 2ng gen stock 6.0."
Crashes as soon as I press the switch to turn it on and keeps on crashing in the background every fes seconds.

[2016-03-19 15:03] raatmarien commented on #3
Thanks for letting me know! I'm looking into it.

[2016-03-19 15:08] #2 closed

[2016-03-19 15:08] #3 closed

[2016-03-19 15:09] raatmarien commented on #2
Turns out the app wasn't properly requesting permissions for Android 6.0 and above, since drawing over other apps is considered a dangerous permission. I fixed it now, thanks for letting me know about the issue.

[2016-03-19 15:10] raatmarien commented on #3
Turns out the app wasn't properly requesting permissions for Android 6.0 and above, since drawing over other apps is considered a dangerous permission. I fixed it now, thanks for letting me know about the issue.

[2016-03-20 00:39] Mr5quid opened #4 "Version 2.2 still crashes on CM 13 (Marshmallow)"
Hi there !

I saw that you said that the bug had been fixed in the other tickets but I've just upgraded to 2.2 and nothing has changed : It crashes when trying to enable Redmoon.

Your app looks promising I hope I will be able to try it soon :)

[2016-03-20 05:05] Bugsbane commented on #4
I have v2.2 (from FDroid) crash the moment I enable it on Android 6.0.1 on a Nexus 5x, as well.

[2016-03-20 07:45] raatmarien commented on #4
Hey guys, sorry for the inconvenience. Sadly, I wasn't able to fix that bug in time for f-droid to incorporate it into its repository update.

The bug fix will be incorporated in version 2.2.1, which will be available the next time f-droid syncs it's repository.  The fdroiddata repository has already been updated with the new version (https://gitlab.com/fdroid/fdroiddata/commit/16b6ac66f6b9e8c32c9

[2016-03-20 07:45] #4 closed

[2016-03-20 08:00] danialbehzadi opened #5 "Automatic turning, based on location"
It would be great if the app could turn itself on in a duration after sunset of the users location and turn off in a duration before sunrise.

[2016-03-20 08:19] raatmarien commented on #5
Good idea, this would be very convenient for the users.

I'll add it to the planned feature list and will probably look into it sometime in the future.  However, if anyone else likes to implement it, pull requests are welcome.

[2016-03-20 09:46] sbruder opened #6 "Can't press on the Install button while running red moon"
If I want to install an application over F-Droid or directly over an APK and running red moon while I want to install an application, I can't press on the install button, but if I then switch red moon of, I can press on Install. I haven't Google Play Services, so I can't test if it appears on an installation from Google Play, too.

[2016-03-20 09:55] raatmarien commented on #6
Hey, thanks for letting me know.

As a security measure, Android blocks the install button when an overlay (such as this filter)  is running. In the feature I will look into automatically pausing the filter when an install prompt appears.

[2016-03-20 10:39] tastytea commented on #5
It would be even greater if the app could dim the screen gradually based on location, like https://github.com/jonls/redshift does.

[2016-03-20 11:32] raatmarien commented on #4
V2.2.1 with the bug fix is now available on f-droid.

[2016-03-20 11:51] raatmarien commented on #5
Do you mean that the filter should change gradually when transitioning from day to night?

[2016-03-20 12:30] Bugsbane commented on #4
Just updated. Works perfectly now. THANK YOU!

[2016-03-20 12:35] tastytea commented on #5
Yes, that way the eyes can slowly adapt.
From the manpage of redshift:

It would be great if red moon behaves in a similar way.

[2016-03-20 12:37] raatmarien commented on #4
No problem :)

[2016-03-20 12:37] raatmarien commented on #5
Yeah, that's a good idea. I will keep that in mind.

[2016-03-20 13:09] Varlorg opened #7 "Cannot start the application "Red Moon has stopped""
Hi,

when I try to launch the application I got the message " Unfortunately, Red Moon has stopped".
My phone is Motorola moto g 4G with android 4.4.4 (XT1039).

Using USB Debugging, here the log:
E/VdcInflateDelegate(14075): Exception while inflating <vector>
E/VdcInflateDelegate(14075): org.xmlpull.v1.XmlPullParserException: Binary XML file line #17<vector> tag requires viewportWidth > 0
E/VdcInf

[2016-03-20 13:22] raatmarien commented on #7
Hey, thanks for letting me know and especially for the stack trace!

Could you tell me what version of Red Moon you are running?

Thanks.

[2016-03-20 14:22] Varlorg commented on #7
Sorry, I forgot to precise the version. It was with the 2.1, I didn't see that new version were available, I tried with 2.2 and 2.2.1 and It is working with these two versions.

[2016-03-20 14:23] raatmarien commented on #7
No problem, happy it works now :)

[2016-03-20 14:23] #7 closed

[2016-03-20 17:07] twckr commented on #6
Same problem for me with F-Droid. Installations using the Google Play Store are possible without limitations.
I'm on Android 4.2.2

[2016-03-20 17:13] twckr commented on #5
I would favour the gradually dimming as proposed by @tastytea.
Maybe this repository would be helpful: [https://github.com/mikereedell/sunrisesunsetlib-java](https://github.com/mikereedell/sunrisesunsetlib-java)

[2016-03-20 17:18] raatmarien commented on #5
I agree, gradually dimming would be better.

That library looks great, nice find.

[2016-03-20 17:20] twckr commented on #6
Maybe the label "bug" would be more appropriate... ;-)

[2016-03-20 17:23] raatmarien commented on #6
You're right, I'll change it.

However I'm not sure how it can be solved, since android will block the install button when any overlay is drawn. One solution would be to monitor which app is running and automatically pause the filter when an install dialog is open, however constantly checking the running app will degrade battery life and I'm not sure how to go about it.

[2016-03-20 17:41] twckr commented on #6
@raatmarien , I just found this page which underlines your words:
[https://f-droid.org/forums/topic/blocked-install-button/](https://f-droid.org/forums/topic/blocked-install-button/).

Maybe it's enough to put a little reminder in the "Settings" section of the app?

[2016-03-20 17:47] raatmarien commented on #6
Since the whole app is the settings screen, a permanent warning there might be clutter the view. Do you think a dialog when the user turns on the filter for the first time would suffice?

[2016-03-20 17:48] twckr commented on #6
Dialog is a good idea. But I'm not quite sure if one remembers the dialog after some weeks or so...

[2016-03-20 17:49] twckr commented on #6
Maybe changing "Running" to "Running. Pause or stop to install apks" would help as it can always be seen in the notifications menu

[2016-03-20 17:53] raatmarien commented on #6
That seems like a great idea. Do you think an toast with a warning every time the filter is turned additionally on would be nice, or would that be overdoing it?

On a side note, I just noticed that installing also won't worked with the filter paused, it will only work when the filter is stopped, but that could probably be fixed.

[2016-03-20 18:01] twckr commented on #6
Toast is a very good idea as well!

Am 20. März 2016 18:53:54 MEZ, schrieb raatmarien <notifications@github.com>:

[2016-03-20 18:06] sbruder opened #10 "Pausing doesn't work"
Pausing the filter doesn't work with version 2.2.1. It only stopps the the filter and hides the notifcation (so I must go in the app again and start it there).

[2016-03-20 18:09] raatmarien commented on #10
Thanks for letting me know!

I'm not able to replicate this on my device with v2.2.1. Could you tell me what Android version you are running?

[2016-03-20 18:10] sbruder commented on #10
I am using Android 4.4.4 (CM11) and the Red Moon version from F-Droid

[2016-03-20 18:12] raatmarien commented on #10
Okay, thanks. I will look into this with an emulator soon.

[2016-03-20 18:23] sbruder commented on #10
I've tested it just now with an device running android 5.0 and it appears there, too.

[2016-03-20 19:58] raatmarien commented on #6
The app now displays a warning toast, when the filter is first opened in the lifetime of the activity and the notification mentions that the filter should be paused when installing APKs. Furthermore, users should now be able to install APKs while the filter is paused. Hopefully this strikes a balance between informing the user and not being annoying :).

@twckr Could you please check my German [he

[2016-03-20 20:27] raatmarien commented on #10
Sorry, I tested it on my phone and on emulators, but wasn't able to replicate the problem.

If you have the time, it would help if you could give me precise instructions as to how to replicate the bug. However, the way the pause state is handled will be different in the next release, so the bug might not persist in the next version. Taking that into account it might be more time effective to wait

[2016-03-20 20:38] sbruder commented on #10
Ok, I'll wait for the next release and test it then.

[2016-03-21 09:00] danialbehzadi commented on #10
Same for me on CM11 without gapps

[2016-03-21 11:48] #6 closed

[2016-03-21 13:51] sbruder commented on #10
I've built the app just now, and there is the same problem again.
You can reproduce it, on a device with CM11 (Android 4.4.4) without GApps. Simply start it without any changes to the settings and then start it. Then swipe the notification bar down and press on pause. One second you can see the notification, but then it is not visible. In the app itself the slider is grey and on the left.
I hope y

[2016-03-21 14:23] cycojesus opened #11 "Tasker integration"
Allow control with a plugin for Tasker as documented @ http://tasker.dinglisch.net/plugins.html

[2016-03-21 15:11] raatmarien commented on #11
Thanks for the suggestion!

I'm not going to implement Tasker at this time, as I'd rather not force the end user to use an propietary app for scheduling. I'd rather implement a separate time scheduling feature in the app itself (see #5).

However, if it's possible to support Tasker without including any proprietary code or libraries, then I'd accept any pull requests, if anyone feels like implemen

[2016-03-21 15:56] raatmarien commented on #10
Thanks for the further testing @sbruder!

I've been looking into it and I think I found the bug. When the Fragment was running and the pause button in the notification was pressed, the Fragment would attempt to update the switch in the action bar to reflect the state change. However, the switch would then react to being changed to the 'unchecked' state and in turn turn off the filter. This caused

[2016-03-21 15:56] #10 closed

[2016-03-21 16:05] sbruder commented on #10
Thanks, it works!

[2016-03-21 16:06] raatmarien commented on #10
Great!

[2016-03-22 20:03] raatmarien opened #13 "Switch doesn't update to reflect filter state if the filter is already on, when the activity is started"

[2016-03-23 03:26] themanifold opened #14 "Dark theme"
Consider having a dark theme so that eyes aren't dazzle when turning red-moon on at night. Also, dark themes are just nicer (!)

[2016-03-23 09:17] raatmarien commented on #14
Great idea! I'm looking into it.

[2016-03-23 09:19] raatmarien commented on #14
I've added a dark theme option. It will probably be incorporated into the next update.

[2016-03-23 09:19] #14 closed

[2016-03-23 09:40] #13 closed

[2016-03-26 13:18] dim-geo opened #16 "Add Shortcut to activate/deactivate"
Hi,

Please add shortcut to activate /deactivate.
By enabling this tasker is intergrated via autoshortcut application.
Also, it will allow users to have a widget to turn on/off.

[2016-03-26 14:46] raatmarien commented on #16
Hey, thanks for the suggestion!

A widget is available in v2.4.0+ which will be up on f-droid shortly (should be about a day).

Is a widget enough for tasker support or do you need a shortcut specifically? If so, what exactly do you mean with a shortcut? I can't seem to find much information on the subject.

[2016-03-27 08:44] jvoisin opened #17 "Add a scheduler"
It would be great if redmoon could be (de)activated automatically at certain hours.

[2016-03-27 08:47] raatmarien commented on #17
Hey, thanks for the feedback!

I'm actually currently working on this feature. I plan to have it incorporated into the next release.

[2016-03-27 13:45] jvoisin commented on #17
Wonderful ♥

[2016-03-27 14:09] dim-geo commented on #16
Widget is not enough.
You are right, documentation about shortcuts seems scarce.
Shortcut is different from a widget. When you add a quick dial for a contact you actually add a shortcut, not a widget. I found this:
http://www.kind-kristiansen.no/2010/android-adding-desktop-shortcut-support-to-your-app/

Another idea for tasker support is intent. Does your app has an intent to toggle filter?
If you

[2016-03-27 14:16] dim-geo commented on #11
There are also two alternatives which should be enough for beginning:
shortcuts
intents

Using one of them will allow tasker integration

[2016-03-27 17:25] raatmarien commented on #16
Thanks for the link!

I've followed the instructions on that site and the I've added an shortcut to toggle the filter.

This feature will probably be present in the next version of Red Moon

[2016-03-27 17:25] #16 closed

[2016-03-27 17:26] raatmarien commented on #11
I've added a shortcut to toggle the filter, this will allow users to integrate Red Moon with Tasker.

[2016-03-27 17:26] #11 closed

[2016-03-28 13:01] raatmarien commented on #17
One can now choose times at which to automatically turn on or turn off the filter. The new release with this feature should be on F-Droid in a few days.

[2016-03-28 13:01] #17 closed

[2016-03-31 11:05] raatmarien opened #18 "Scheduling doesn't work on the last day of the week"
Roll of the DAY_OF_MONTH doesn't roll the MONTH forward as I expected. So when it tries to schedule for the next day on the last day of the month it instead schedules for the first day of the previous month. It immediately receives this alarm and schedules a new one, essentially continuously turning the filter on (or off).

For any users affected, the problems stop when you select "Never" as times

[2016-03-31 20:44] Nico207 opened #19 "Blink after changing automatic setting"
Hi,
I have a problem when I change the automatic setting : Red Moon turn completely crazy (on, off, on, off,...)

My config :
Cyanogemod 11
Red Moon 2.6.1

Red Moon config :
Lower brightness checked
Automatically turn on filter on custom times (on:22h, off:6h)
Keep running after reboot : unchecked
Always open on startup : checked

Step to do that:
Red Moon is on and it's actually after "on time" (

[2016-04-01 00:16] The0x539 opened #20 "Root mode"
Filters along the lines of what this app currently does may work without root, but on rooted devices, true temperature adjustment along the lines of what's done by cf.lumen or CyanogenMod LiveDisplay is a far better solution, and it would be nice to see such functionality available in a standalone F-Droid app.

[2016-04-01 05:26] raatmarien commented on #19
Hey, thanks for letting me know.

It turns out I misinterpreted what a function of Java.util.Calendar does, which makes the scheduling feature misfunction on the last day of the month. See #18.

The scheduling mode should work as expected again on the first of April and I've released a new version (v2.6.2) that fixes this bug. This new version should be available on f-droid in a day or two.

Sorry

[2016-04-01 05:46] jluttine opened #21 "Automatic adjustment based on environment"
This is a great app, thanks a ton! I've been dreaming about this kind of app for a long time. :+1:

I'd like to make a feature proposal: the screen filter would adjust automatically based on the brightness of the environment. I have automatic brightness adjustment in Cyanogenmod but it is not sufficient, I'd like to have this screen filtering to adjust automatically too, in a similar way.

However

[2016-04-01 19:13] bungabunga opened #22 "Red Moon doesn't work on Xperia Z3c"
I tried to run Red Moon on my device but nothing happens when i enable the filter, even at night.

Is there anything i can do to help you solve this issue?

Sony Xperia Z3c
Android 5.1

[2016-04-02 05:55] jluttine commented on #21
Just to make this simpler: activate the filter automatically at a certain customizable light censor value.

[2016-04-02 08:30] techwebpd commented on #5
like twilight app, it would be great

[2016-04-02 08:37] techwebpd opened #23 "How to translate to lithuanian language"
great app, how to translate it to lithuanian lang, can i create values-lt folder and put in it strings file. Where are the english strings file to use it as a template?

[2016-04-02 08:57] raatmarien commented on #23
To translate Red Moon to Lithuanian, you can indeed create a new strings.xml file in a values-lt directory. You can find the English strings file [here](https://github.com/raatmarien/red-moon/blob/master/app/src/main/res/values/strings.xml). To create the Lithuanian translation, just copy the [standard strings.xml file](https://github.com/raatmarien/red-moon/blob/master/app/src/main/res/values/str

[2016-04-02 08:58] danialbehzadi commented on #5
Many users turn off automatic location service for security/privacy reasons. It would be nice if there were an option to select the location manually.

[2016-04-02 09:02] raatmarien commented on #22
Thanks for letting me know!

Could you tell me a few things, to help me find the cause?
* What version of Red Moon are you running?
* Are you running stock android or a custom ROM?
* If you press the switch, does the switch flip or does it stay off?
* Do you have the setting "Automatically turn on filter" set to "Never"?
* If you turn on the filter, do you get a notification in your notification t

[2016-04-02 09:08] raatmarien commented on #21
Thanks for the feedback, this seems like a very useful feature.

I will look into adding a feature like this in the future, however I don't know how easy it will be to implement. If anyone wants to try and implement something like this, pull requests are welcome!

[2016-04-02 09:09] raatmarien commented on #18
Version 2.6.2 fixes this bug and is now available on F-Droid.

[2016-04-02 09:09] #18 closed

[2016-04-02 09:10] raatmarien commented on #19
Version 2.6.2 is now available on F-Droid and fixes this issue.

[2016-04-02 09:10] #19 closed

[2016-04-02 09:11] raatmarien commented on #5
I agree, however I'm not sure of an effective way to prompt the user for their location. Would letting them simply enter their coordinates suffice?

[2016-04-02 09:22] danialbehzadi commented on #20
Using CyanogenMod LiveDisplay is great!

[2016-04-02 09:36] danialbehzadi commented on #5
Letting users enter their coordinates does it, but I think there should be a library to automatically translate city names to coordinates somewhere. I'm really not familiar to android development, but I'm sure there are such libraries in many other languages. When users try to enter their city name, it would search the city name in database and suggests possible results while typing, and user sele

[2016-04-02 10:10] Albirew commented on #5
You can let user choose between location or date and time based guess (less precise but privacy friendly)

[2016-04-02 10:28] bungabunga commented on #22
Hey,

- I'm running Red Moon 2.6.2
- I'm running a rooted stock ROM (commercial Twighlight app is working without problems)
- Yes, the switch flips, but nothing happens
- I tried all possibilities, but, yes, when switching filter on with "Never" set nothing happens.
- I get a **"Red Moon - Running. Pause to install apks"** box with buttons to pause, stop or go to settings.

[2016-04-02 10:40] raatmarien commented on #22
Thanks for the information!

I don't know what is causing this, but I'll look into it.

Sorry for the inconvenience.

[2016-04-02 14:00] techwebpd commented on #23
i translated and pulled

[2016-04-02 14:14] raatmarien commented on #23
Great, thanks!

[2016-04-02 14:14] #23 closed

[2016-04-02 17:18] smichel17 commented on #22
@raatmarien Are there any logs that @bungabunga could provide to help you diagnose the issue?

If so, is it worth adding in a 'debug log' setting to facilitate producing those?

[2016-04-02 17:30] smichel17 opened #26 "move to GPL"
I was wondering how you'd feel about moving to GPLv3+.

I love that there's now a usable free software replacement to proprietary screen filter apps, and I'd like to work to make it better than those -- but I'd also be sad if a proprietary fork with added features came along and this app died out because they didn't give back.

To be 100% clear, that is NOT a threat. I have already done 85% of a U

[2016-04-02 17:42] raatmarien commented on #26
Hey, thanks for the suggestion!

I actually prefer the GPL too, the reason that I've licensed Red Moon under the MIT License for now is that [Shades](https://github.com/cngu/shades), which Red Moon is based on, was already MIT and I'm not sure how to relicense it.

Do you know how I would go about relicensing to the GPLv3+?

[2016-04-02 19:11] smichel17 commented on #26
I've done CC-BY -> CC-BY-SA before, but never I've never done MIT -> GPL. I know that (1) the law is not super clear about this stuff and different lawyers have different interpretations of what's acceptable, and (2) there are some differences between CC licenses (particularly moving between them) and software licenses. That said, in the fork I did, I included the following in my README.md, names

[2016-04-02 20:49] twckr commented on #26
That's all right with me.

[2016-04-02 20:56] twckr commented on #5
To get coordinates for a city / region / address you could use:

`http://nominatim.openstreetmap.org/search/<querystring>?format=json`

[2016-04-02 21:41] stragu commented on #26
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

I give permission to use my contributions under the GPLv3 or (at your option) any later version.

Cheers raatmarien.

On April 3, 2016 5:11:42 AM AEST, smichel17 <notifications@github.com> wrote:

- --
Stéphane Guillou
stragu.github.io

Sent from my Fairphone with K-9 Mail. Please excuse my brevity.

You can encrypt our communications by using OpenP

[2016-04-02 23:37] smichel17 opened #29 "UX changes"
List of changes to consider this ticket closed:

- [ ] Bump to v2.7.0 :smiley:
- [x] Snack bar when top switch is disabled
  - [x] More contrast with dark theme.
- [x]  Remove all drop-down actions in notification except pause/resume.
  - Tapping the text will still open the app.
  - Alternative: replace the 'close' button with "pause for X minutes"
    - There's probably a good way to show this w

[2016-04-02 23:58] smichel17 commented on #29
If we keep extending the state hierarchy:

1. Red Moon disabled
2. Red Moon enabled
  1. Filter on
  2. Filter paused
    1. Profile
      1. Filter auto-on
      2. Filter auto-off

With this, we can re-add the 'close' button in the notification that we "removed" (if these weren't presented together) above. Its function is now to set the program state to 2.ii.a.b and close the notification. That

[2016-04-02 23:59] smichel17 commented on #29
(3) in the original post is related to #5

[2016-04-03 01:35] danialbehzadi commented on #26
I am into software licensing and there is nothing to stop changing license from MIT to any other license in the new version if the maintainer wishes so. Anyway, I am super positive about changing to GPLv3+.

On ۳ آوریل ۲۰۱۶ ۲:۱۱:۲۶ (GMT+04:30), "Stéphane Guillou" <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-04-03 01:49] smichel17 commented on #26
@danialbehzadi Correct me if I'm reading it wrong or if the article is incorrect: according to the [software freedom conservancy article](https://www.softwarefreedom.org/resources/2007/gpl-non-gpl-collaboration.html) (section 2.2), if you are using code that is under a permissive license, you should note it in the files. If contributors agree to re-license their code then files can just contain on

[2016-04-03 07:11] danialbehzadi commented on #26
We do not modifying a MIT licensed code with GPL'd content. We are forking a MIT project and as it allows us, relicense it as GPL. This is a feature of MIT license that you can fork the project and relicense it, either as proprietary or Free software, because MIT is a non-copyleft license.

[2016-04-03 08:13] raatmarien commented on #20
Thanks for the feedback!

I'd love to include something like this in Red Moon. However, I've been looking at the source code of CyanogenMod and it seems that LiveDisplay is depends on their modified kernel and the implementation seems to be device specific, so I don't think that would work for Red Moon.

Something like the "CF.Lumen" driver of CF.Lumen seems great, but sadly CF.Lumen is closed sou

[2016-04-03 08:45] bungabunga commented on #22
is it still possible to get a usable debug log on Android 5.1 with Catlog app?

[2016-04-03 09:03] raatmarien commented on #22
I think it is still possible to get the logs with the Catlog app, so if you would be able to do that, it would be very helpful.

Could you also try one more thing for me? Could you try turning the intensity and the dim slider all the way up to the maximum, to see if that changes anything?

Thanks in advance.

[2016-04-03 09:06] bungabunga commented on #22
i tried that and nothing happens.

will get a logcat.

[2016-04-03 09:19] raatmarien commented on #22
Okay, thanks!

[2016-04-03 09:20] raatmarien commented on #29
Thanks a lot for these insights! I don't have much design experience myself, so this really helps a lot.

I will go over this in detail after I've relicensed Red Moon to the GPLv3+.

[2016-04-03 09:32] bungabunga commented on #22
hey, just forget about it all!

i just realised that i forgot to switch off Xprivacy restrictions from Red Moon so nothing strange that it didn't work.

and i want to appologise to you guys for taking your precious time not being careful enough. sorry. :/

you made a great app and I'm happy to replace a non-opensource app with Red Moon.

[2016-04-03 09:32] #22 closed

[2016-04-03 09:33] raatmarien commented on #26
Thanks a lot for the help everyone. And thanks for agreeing to relicense to the GPLv3+ @twckr, @stragu and @danialbehzadi!

This seems like a great guide, thanks.

[2016-04-03 09:34] raatmarien commented on #22
No problem at all, glad it works again!

[2016-04-03 10:31] bungabunga opened #30 "Red Moon on Google Play store?"
Is there any chance to release Red Moon on Google Play store?

I am cautious to use apps from F-droid that are signed with a single F-droid key, not the keys of their developers.

If you don't wish to release on Play store the alternative would be to make a Red Moon F-droid repository or simply release the developer-signed app on Github.

Thanks for your consideration.

[2016-04-03 10:59] raatmarien commented on #26
I've added a header to every code file to reflect the licenses that govern that specific file and who the authors are. I've also updated the README.md and added COPYING, COPYING.MIT and COPYING.GPL to explain the new license situation.

I hope this is sufficient to relicense Red Moon to the GPLv3+, any pointers on what I should add or change are welcome!

[2016-04-03 11:04] raatmarien commented on #30
Thanks for your feedback.

I do plan on eventually adding Red Moon to the Google Play Store, but that may be a while off.

It may be an option for you to build Red Moon yourself, since that gives you the most assurance that it hasn't been tampered with. However, I will also try to add a self-signed APK to the next release.

[2016-04-03 12:41] raatmarien commented on #29
I've started with the easiest part, I've changed the CheckBoxPreference for a dark theme to a SwitchPreference and removed the summary. I hope this satisfies point 2.

[2016-04-03 14:20] raatmarien commented on #5
I don't think this will be precise enough to make a meaningful guess, since the timezone only tells me anything about the longitude, which doesn't correlate with the local sunrise and sunset times.

Thanks for the link, that would be a possibility. However I'm cautious on introducing more permissions, like internet access, to Red Moon unless it is absolutely necessary.

[2016-04-04 04:52] smichel17 commented on #5
[OsmAnd](https://github.com/osmandapp/Osmand) does this by downloading some wikipedia data. They do it in their own download manager, which requires internet permission, but this app could just include a link to where you can download that information, then import the data from a file.

[2016-04-04 05:37] smichel17 commented on #29
I tried the most recent changes. I think they're a great improvement! Actually, enough of an improvement (and time to think) that I've changed my mind about some features. I also think this thread is getting a bit hard to follow (and want to keep the scope reasonable), so I'm going to give a list of features to close this issue and omit the context\*.

- [ ]  Remove all drop-down actions in notifi

[2016-04-04 09:37] danialbehzadi commented on #5
another workaround to prevent Internet access is to let users select their location by touch on a world map image, which returns the coordinats.

On ۴ آوریل ۲۰۱۶ ۹:۲۲:۳۲ (GMT+04:30), smichel17 <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-04-04 12:59] Siltaar opened #31 "Can't add the widget on the desk"
Using Android 5.1 from Fairphone 2 and last f-droid available RedMoon : 2.6.2

If I grab the RedMoon widget to slide it on a desk panel, the widget is dropped on the panel, but never appears on it. I tried several times…

[2016-04-04 13:21] raatmarien commented on #31
Thanks for letting me know!

Could you tell me if you are using the standard launcher or something else and how much space you have left on the desk panel you tried to drop it on?

For a temporary work around, you could try using the short cut of Red Moon. Sorry for the inconvenience.

[2016-04-04 13:23] raatmarien commented on #5
Yes, I agree that may be a good solution, since the location doesn't need to be very precise at all.

[2016-04-04 13:54] raatmarien commented on #29
Thanks a lot, this is very helpful!

I'm wondering what your reasoning is for not including a stop button in the notification. Does a stop button in the notification make it too easy for the user to accidentally stop the service?

I'm also thinking of adding a "pause for 30 min" button to the notification and was wondering how you would feel about that? Would it be helpful to the user, or overly c

[2016-04-04 15:08] smichel17 commented on #5
This is how Twilight does it. For me, it's actually annoying -- I always wish I could just select more precisely with the tap. However, it would be a great interface if you selected your position in two taps: first tap selects a continent and zooms in on that location; second tap actually selects your position.

[2016-04-04 16:43] smichel17 commented on #29
Exactly :smile:

I think the top-level switch should be the only place a user can enable/disable the service. If there's some way to stop the service from running when the filter is off and then automatically start it again at a specified time that might be useful, too -- but that's an implementation detail to save battery, not something visible to the user, who's thinking in terms of "Red Moon is

[2016-04-04 16:51] smichel17 commented on #29
Do you get notifications when I edit my comments, or should I also make a comment here whenever I edit the list?

[2016-04-04 17:31] raatmarien commented on #29
Thanks for the answers!

I don't get any notifications when you edit your comments, so a comment would be helpful.

Sadly, the timezone doesn't provide any information for the sunset and sunrise times in the users local times. However, I think it is a good idea to provide a default for sunrise and sunset times instead of using the custom times.

[2016-04-04 21:11] smichel17 commented on #29
Isn't that what [sunrisesunsetlib-java](https://github.com/mikereedell/sunrisesunsetlib-java) could do?

[2016-04-05 07:25] raatmarien commented on #29
No, unfortunately sunsetsunriselib-java needs a location and a timezone in which to return the time. See https://github.com/mikereedell/sunrisesunsetlib-java/blob/master/src/main/java/com/luckycatlabs/sunrisesunset/SunriseSunsetCalculator.java.

[2016-04-05 07:29] Siltaar commented on #31
Hi,

It is the standard launcher.

My available widget list tells me that RedMoon widget needs 1x1 scare. So I'm aiming at a 1x1 empty space to drop it on.

Twilight is providing 1x2 and 1x1 widgets, but my opinion is that 1x1 is enough.

[2016-04-05 07:49] Siltaar opened #32 "Provide feedback on the acquired location"
Hi,

I would like to use the Sun times to enable and disable RedMoon. I activated once my location feature then activated RedMoon auto-turn-on feature.

Here, I feel I miss a feedback from RedMoon to show me which position was acquired if any.

[2016-04-05 07:57] Siltaar opened #33 "Progressively red-en and dim backlight according to sunset"
Once in auto-turn-on mode, using sunrise and sunset times, what Twilight (or Redshift) still does better is to adapt their relaxing-parameters to the expected ambient luminosity, regarding sun light intensity (assumed to reach the user through its windows).

Sun is rising/setting fast or slow relatively to the user position on the globe, and the user's eyes are adapting this light quite slowly als

[2016-04-05 14:53] raatmarien commented on #31
Okay, thanks for letting me know!

I'll look into it.

[2016-04-05 14:54] raatmarien commented on #32
Thanks for the feedback!

I agree, and I'm working on changing this in the next update. See #29.

[2016-04-05 15:03] raatmarien commented on #33
Thanks for the feedback!

I agree that the automatic turn on (and turn off) is two immediate right now. However I feel Twilight's system is lacking in that it doesn't give the user the flexibility to turn the filter on earlier without changing the setting. For example when the user goes to bed early and uses their phone in the dark, while it is still light outside.

I will be looking into smoothin

[2016-04-05 15:04] #26 closed

[2016-04-05 15:11] smichel17 commented on #33
It would be possible to allow the user to specify the length, with 0 for instant transitions. That's good for flexibility but bad because it burdens the user with another decision (and one that we should not expect them to know the answer to), so I'm not sure if it's worth doing.

I'm not sure what the optimal transition period is, I believe f.lux, redshift, and twilight all take ~1 hour. Perhaps

[2016-04-05 16:09] smichel17 commented on #29
This addresses the first part of your comment on #33, and also reflects my latest thinking about how states should work. Essentially, there should only be on/off. You can manually toggle the filter on/off; red moon also includes settings to automatically turn the filter on and off at certain times. The app does not distinguish between a manual or automatic start/stop.

This makes both the code bas

[2016-04-06 08:12] breversa opened #34 "Automatic turn-on/turn off does not work"
Hi there !

I happily discovered Red Moon as an alternative to Twilight on F-Droid.

However, automatic turn-on/turn at custom times does not seem to work : I set it to run between 20:00 and 06:00, but it did not stop at 06:00.

Also, I'm not quite sure what the two startup options do ("Keep running after reboot" and "Alway open on startup") : do they mean that Red Moon doesn't normally start at b

[2016-04-06 08:21] raatmarien commented on #34
Hey, thanks for the feedback!

That is weird, sorry for the inconvenience. Was the filter still running or only the notification? Could your phone have been turned off at 06:00?

The "Keep running after reboot" determines if the state of the filter is restored after reboot and if the "Always open on startup" preference is checked the filter will always open when the device is booted, even if it wa

[2016-04-06 08:27] raatmarien commented on #29
Should the filter automatically turn on at the set time if the user has disabled Red Moon?

[2016-04-06 08:32] breversa commented on #34
Wow, I did not expect such a fast answer ! :D

I did some more tests inbetween : turning ON works fine, but turning OFF does not.

Thanks for the info regarding the startup options. Also, the toggle at the top of the UX is a bit misleading : I first thought it toggles the automatic start on/off, while it actually simply turns the FILTER on/off.

[2016-04-06 08:40] breversa commented on #34
Er… that's wierd : I tried again and it turned off, although not precisely at 10:39'00", bit more like 10:39'30"

[2016-04-06 08:48] raatmarien commented on #34
Ah okay, thanks for testing!

When you select a minute and an hour, it actually schedules the alarm for hour:minute:_current seconds_, where _current seconds_ is the seconds of the time when you schedule it. Red Moon does this to ensure that it doesn't miss an alarm, however I will be looking into other solutions in the future.

With that said, it is still very peculiar that the filter didn't turn

[2016-04-06 08:53] breversa commented on #34
Okay, that explains the seconds thing.

Sorry for not replying earlier : no, my phone was not off. I usually turn it to airplane mode during the night, though I did not do it last night.

But come to think of it : my phone sometimes experiences random (soft) reboot, so it might have rebooted during the night without me noticing. I guess you can close that issue : I'll keep an eye out for any stran

[2016-04-06 09:11] raatmarien commented on #34
Great, I will look into making sure that the filter is turned off/on if the device is off when the turn off/on signal is given.

Thanks for the quick replies and please let me know if you encounter any more problems!

[2016-04-06 13:30] smichel17 opened #35 "Use "pause/resume" language in "automatic toggle" settings."
Automatic filter toggle uses language, "Turn filter off" and "Turn filter on". The notification uses language "pause/resume". However, they both toggle the same setting (whether the filter is shown or not). This is the intended functionality, but they should use the same language.

~~I keep changing my opinion on which I prefer: I like "pause/resume" because it's very clear that this is a distinct

[2016-04-06 13:32] smichel17 commented on #29
No. If Red Moon is disabled, the Red Moon service should be off, there should be no notification, etc.

I have used the language "pause/resume" across this thread to be consistent about what functionality I'm talking about and it's confusing to have a todo in here that talks about changing that vocab, so I moved that part to its own issue, #35.

[2016-04-06 13:38] smichel17 commented on #29
Added:

[2016-04-06 13:41] smichel17 commented on #34
@breversa the top-level switch is confusing right now. It toggles the Red Moon *service* on and off. If you turn it off, Red Moon should be completely disabled, as if it were uninstalled. It will never display the filter and never automatically turn on.

The confusing part is: When you **pause** the filter, the top-level switch shows itself as _off_ when the setting it controls is actually _on._ T

[2016-04-06 13:53] breversa commented on #34
Okay, I'm now officially lost ! :D

Just how do you turn on the *service* without turning on the *filter* ?

Here's what I did :
* set turn on filter to _custom time_
* set on/off times to 22:00-06:00
* turned on the main toggle (the time is now 15:50, so _off_ custom range)
-> Filter turns on !
I had to force-kill Red Moon then start it again to have the main toggle on but filter off.

[2016-04-06 14:30] smichel17 commented on #29
Added:

[2016-04-06 14:31] smichel17 commented on #34
@raatmarien Haha, this is why we should remove all references to "the service".
@breversa In the next version of Red Moon you will not need to know the answer to this question to use the app :). The service is the process that runs in the background when Red Moon is enabled. I'm just going to call it the process from now on because that's clearer. When you **pause** the filter, the background proc

[2016-04-06 14:33] raatmarien commented on #29
Great, thanks for the quick answer.

Could you elaborate your reasoning on this? I'm afraid users might be confused as to why they are unable to edit any settings.

With switched on, do you mean when the user first opens the app or when the user first presses the top switch?

[2016-04-06 14:35] breversa commented on #29
(What's a FAB, anyway ?)

[2016-04-06 14:35] smichel17 commented on #29
@breversa [Floating Action Button](https://www.google.com/design/spec/components/buttons-floating-action-button.html)

[2016-04-06 14:36] breversa commented on #34
@smichel17 :
Yup, that's how I understood it. Services/processes are common notion to me. However, I was puzzled that toggling Red Moon on would instantly tint my screen though I was NOT within the custom time range.

[2016-04-06 14:50] smichel17 commented on #29
The reason is, it provides a VERY strong visual queue that this switch enables and disables ALL functionality. It's the same reason we gray out the "Location" setting when using custom times. Sure, we could technically set the location, but the setting isn't in use, so we gray it out.

The top switch is always visible. If it's the only toggle-able thing, I think it should be clear. Particularly, a

[2016-04-06 15:18] smichel17 commented on #34
What edge case does this solve?

This hits the nail on the head.

@raatmarien I think these are the to-do's that come out of this ticket. First:

- [ ] The logic for deciding filter state when Red Moon gets enabled should be re-used for deciding filter state on boot.

Second, what is that logic? There are two options here

- Simple: If automatic filter is on, when Red Moon is enabled, filter state

[2016-04-06 19:53] raatmarien commented on #29
Is it important that the FAB disappears? I would think it provides an extra option for users who only want to see the notification if the filter is actually on and want a way to instantly enable Red Moon and turn on the filter manually.

    - I'm imagining some text saying "Enable Red Moon" and an (animated -- moves up and down a bit?) up-arrow in the upper right corner pointing to the switch.

[2016-04-06 22:12] smichel17 commented on #29
At the time I was thinking that the user should have to turn on the top-level switch to enable the app, period -- to force the user to understand the function of the top toggle (vs the FAB or notification).

It doesn't need to be an arrow\*. For example, you could dim the whole screen except for a circle around the toggle, and maybe add some descriptive text, and that would do the job just as well

[2016-04-06 22:53] smichel17 commented on #35
I just built and tried the new version out, and what I had suggested -- while clearer -- is probably overkill. Was:

[2016-04-06 23:26] DistantParadox opened #36 "[Enhancement] Option to turn off status bar notification"
Adding an option to turn off status bar notifications would be a welcome improvement, so that once Red Moon is set up, it can be left alone to run in the background.

[2016-04-06 23:32] DistantParadox opened #37 "Contributing Translations"
I am able to contribute translations to Chinese, which would widen the user-base, but I am not sure how this could be done.  Do you have any suggestions?

[2016-04-07 00:34] smichel17 commented on #36
I do not know if this is still an issue on Android Marshmallow, but in previous versions the notification is needed so that Android doesn't decide to kill the app if the phone gets low on memory (unless @raatmarien has some trick that I don't know about up her sleeve).

However, you can hide the notification through Android system settings by going to 'app info' and unchecking "Snow notifications"

[2016-04-07 01:07] smichel17 commented on #29
Just tested this out, and I have a few thoughts:

Mockup of the faded stuff:

![gray moons and ADD button](https://cloud.githubusercontent.com/assets/6563664/14336327/9892e350-fc30-11e5-87bd-8857483f09e0.png)

After trying it, I do think it is confusing at first -- even with the FAB -- why all the settings are disabled. As I expected, after toggling the app bar switch (I might as well call it the

[2016-04-07 01:11] smichel17 commented on #36
Twilight has a "setting" that (1) Has a popup telling the user what's about to happen and (2) Opens app info where the user can turn off notifications.

[2016-04-07 05:15] bungabunga commented on #36
Twilight also disables notification when the app is not active = during daytime.

[2016-04-07 05:22] bungabunga commented on #33
i agree longer transition (60-90min) is better bacause the sunset/dawn also takes some time.

[2016-04-07 05:28] smichel17 commented on #36
@bungabunga do you mean Twilight Pro's experimental "Stop service outside filter times" setting?

[2016-04-07 05:39] bungabunga commented on #36
probably, i remember the notification wasn't present during daytime when i used Twilight (pro).

[2016-04-07 05:52] smichel17 commented on #33
Say the transition period is 1 hour, and the user has configured the filter to pause at 7:00 and resume at 18:00. When should the filter transitions start?

My initial thought is that I (a user) will probably set the filter for the time that it gets dark out, the time when I want the filter to be fully on, so the transition period should begin (in this case) 60 minutes before that time. Same for t

[2016-04-07 07:03] smichel17 commented on #36
That makes sense -- I never used pro, and remember the notification always showing. I just skimmed Red Moon's code, and it seems like there's a way to set an alarm that will re-launch the service, so it might be possible to use that and turn the service off between filter times.

[2016-04-07 07:37] Siltaar commented on #33
Ok for user-set time.

What I experienced regarding (at least french) official sunset/dawn times is that sunset time is when the sun is entirely set, so transition could start 1h before.
For dawn, I have less experience :p but I think the official time is the start of the process, so transition should start at this point and last for 1h after.

A one-size fits all suggestion would be to start tran

[2016-04-07 08:29] breversa commented on #34
What are the use cases that the complex logic would address ?

I for one would be perfectly happy with the simple logic, as the only time I'd need to pause the filter (if on, of course) is to install APKs (I solely use Red Moon to filter out the blue light, not to dim the screen).

The complex logic would actually bother me more if I rebooted straight after an install (hence still in pause), since

[2016-04-07 08:41] bungabunga commented on #33
i think that Red Moon filter should be working 100% not when the sun is down but when it finally gets dark. that probably means the sunset should be the starting point of the process and sunrise an end of it.

[2016-04-07 08:45] bungabunga commented on #33
CORRECTION: i think the "now it's totaly dark" point matters, sunset/sunrise not so much. a default or manualy set (evening-start/morning-end) transition periods should depend on this.

[2016-04-07 09:02] varhub commented on #34
Hi all!
Just to defend the counterpart, I am happy with top-right toggle behavior of 2.5.0
It almost behaves like the toggle of any xposed module. And this is good because one can ensure that service is off (although it does not drain batery)

[2016-04-07 11:54] raatmarien commented on #37
Hey, that's great! Thanks a lot!

To translate:

If you are familiar with git:
* Fork this repo
* In your fork, copy [app/src/main/res/values/strings.xml](https://github.com/raatmarien/red-moon/tree/master/app/src/main/res/values) to app/src/main/res/values-<your country code>/strings.xml.
* Translate the strings that aren't marked with a 'translatable="false"' flag
* Submit a pull request

If you

[2016-04-07 11:59] raatmarien commented on #36
It is indeed possible to have a setting to not show the notification when the filter is paused in Red Moon, since the service is technically only running when the filter is on. I could also create a preference for users to disable notifications altogether for Red Moon.

I'm however afraid that these settings may clutter the main activity, since I'd think the average user wouldn't want to change th

[2016-04-07 12:00] #35 closed

[2016-04-07 12:14] dillbyrne opened #39 "Option to disable button backlight"
Hi raatmarien . Great job on the app. Thank you for your work

If you have the time could you add an option to disable the button backlight. The [dimmer app](https://github.com/giraffine/Android-Project) on F-Droid already has code to do it.

https://github.com/giraffine/Android-Project/blob/d4d02c86706f506d1a8b1d03a2ff61657a28e368/Dimmer/src/giraffine/dimmer/Mask.java

[2016-04-07 12:35] bungabunga commented on #36
i think it's the best if the default setting is one that most people don't need to change. i belive that's: notification on when filter active, off when inactive and the "more settings/manual settings" for special purposes.

[2016-04-07 12:56] raatmarien commented on #39
Hey, thanks for the suggestion and thanks for the link!

I will attempt to implement this when I have the time.

[2016-04-07 14:03] smichel17 opened #40 "[Backend] Update preference implementation"
There's some duplicate code for changing preferences. I was looking into refactoring this, and came across some information that the approach used right now is deprecated. The [new approach](https://developer.android.com/guide/topics/ui/settings.html) uses an XML file for each fragment, so you can (for example) add `android:dependency="mSwitch"` and the setting will automatically gray out if the m

[2016-04-07 14:13] smichel17 commented on #34
@varhub This is not going away -- actually, it's becoming exactly what you expect: a universal on/off switch to disable the service. See #29 (warning: it's long).

[2016-04-07 15:08] smichel17 commented on #34
@breversa In reverse order...

The important variable is not reboot vs boot, it is the amount of time that passes. So a soft reboot acts just like a normal reboot, which acts just like powering off and then powering immediately on.

I have updated the post above so that I never use the word "reboot", to clarify this.

Replace "power off" and "power on" with "my phone dies" and "I charge the phone"

[2016-04-07 17:13] raatmarien commented on #40
This is very useful, thanks!

I will use this in the future for settings that depend on a switch or a checkbox. However, depending on the top switch is impossible, since the android:dependency tag only allows referencing other dependencies. The top switch isn't a preference, but a menu item, because the app bar doesn't allow preferences.

[2016-04-07 17:15] smichel17 commented on #40
I wonder if there's a way to "cheat" here. Is it possible to make a "preference" that is not actually displayed, that updates (using the old method) whenever the top switch does? (and then make others depend on it)

[2016-04-07 17:20] smichel17 commented on #40
If you can't have preferences that are not displayed, is it possible to attach a state to one of the currently stateless items (email or visit project page) without changing how that item is displayed?

[2016-04-07 17:24] raatmarien commented on #40
Hmm, I think this is possible, I'll try letting it depend on a key without a preference.

[2016-04-07 17:32] raatmarien commented on #40
I tried letting it depend on just a key, but it turns out that android:dependency needs an existing preference.

It may be possible to declare a preference without showing it, but I think it would be harder and less clear than just enabling/disabling the preferences manually in the code.

[2016-04-07 18:14] smichel17 commented on #40
Having to loop through settings and enable/disable them seems like an impediment to making changes; with dependencies declared, it's easy to rearrange, add or delete prefs. Something something maintainable code.

Is it possible to make a visible preference, and put it on a screen that there is no GUI control to access?

An alternative that I don't like very much: You could add a preference at the

[2016-04-07 19:01] smichel17 commented on #36
### Nothing actionable in this comment

There's a boatload of context, a much of which is rambling. I'll put the actionable stuff in the next comment. tl;dr: I understand why Twilight went with the design they have, but don't like where they ended up, so I'm looking for alternatives.

These are my guidelines when it comes to settings:

- The user should not have to touch the settings in order to u

[2016-04-07 21:58] smichel17 commented on #36
Upon further reflection, I don't think we need a setting here.
- "Always hide notification" can happen via the system settings.
- A notification is a way to show status and to pause/unpause, not a launcher. An "always show notification" setting turns it into one. I don't think we should try to support that.
  - If a user wants to launch at consistent times every day, they should use automatic togg

[2016-04-07 22:08] smichel17 opened #42 "[Code cleanup] getShadesPowerState()"
On [line 85 of ShadesPresenter.java](https://github.com/raatmarien/red-moon/blob/master/app/src/main/java/com/jmstudios/redmoon/presenter/ShadesPresenter.java#L85), when the FAB is clicked, it checks to make sure ShadesPowerState is on. This check is unnecessary because the FAB will not display if ShadesPowerState is off.

I don't know if there are more checks like this scattered around the code (

[2016-04-07 22:47] smichel17 commented on #33
When the "sun" setting is enabled, it is 100% clear what should be happening: the filter should line up with the sun -- the transition starts as it dims outside and finishes when it's fully dark (and same thing on the other end). We can modify whatever settings we need to in the background to force this to work, because the user doesn't see them.

I am more concerned with -- what should happen whe

[2016-04-07 23:01] smichel17 commented on #34
@varhub

#36 affects this issue, making it much clearer. It adds a 'stop' state.

I have an analogy! A helpful way to think of the settings is like one of those white noise makers that people use when they sleep. Plugging it into the wall is like enabling the top switch. Start/stop is like hitting the power button to turn it on and off. This particular model makes noise whenever it is turned on, u

[2016-04-07 23:52] varhub commented on #34
Thanks @smichel17! This explanation is amazing, but nigth ligth for kids is
what got my mind.
Perhaps the basic native persistence of android could do the trick, but Im
too novice to known if it ensures writeout on kill or reboot.

[2016-04-08 05:48] smichel17 commented on #40
Emphasis mine.

Is this useful? Maybe onShadesPowerStateChanged() could set a resource or attribute that all the relevant settings could depend on?

Related: #42

[2016-04-08 07:53] #42 closed

[2016-04-08 07:54] raatmarien commented on #42
Good find, I fixed it. I didn't find any more of these, but if you see any let me know!

[2016-04-08 14:12] Siltaar commented on #33
I did set automatic times at : 22h turn-on ; 08h turn-off.
It was night outside at 22h, but I had lights turned on in my living place…
At 8h it was already bright outside, but my eyes were expecting small lights to look at.

In sun time, I can't tell if it was really synced with the actual light outsides. I'm waiting for an update to get feedback from the app about this feature.

Now, I disabled t

[2016-04-08 15:15] raatmarien commented on #29
When Red Moon is disabled, the FAB fades out and a snackbar with help fades in. I chose this over a black overlay, because some settings remain accessible when Red Moon is disabled.

Screenshot:

<img src="https://lut.im/uBvJvDQw9j/sGkCugnib53mgXkr.png" width="360" height="640" />

  - Removed settings -> broke backwards compatibility -> major version bump!
  - Or maybe I'm looking at things wrong

[2016-04-08 15:27] raatmarien commented on #40
The android:enabled tag is only checked when the view is created, so it can't be used to dynamically change the enabled state of a preference.

I believe that in this case it is better to just enable/disable the preferences in the code. That way it is clear when preferences are enabled/disabled and it will be at most adding one line of code for every preference when adding new preferences.

[2016-04-08 15:29] smichel17 commented on #40
Pfft. Ah well, was worth a shot.

Okay. Closing this.

[2016-04-08 15:29] #40 closed

[2016-04-08 15:43] smichel17 commented on #29
No strong feelings, sounds good!

One last thing: the snack bar needs a little more contrast with the background when the dark theme is enabled. Options I can think of: Lighten it a bit, darken it further, add a lighter gray line along the top.

![snackbar-dark](https://cloud.githubusercontent.com/assets/6563664/14389040/c35a510a-fd7e-11e5-8178-563cc760c78f.png)

[2016-04-08 15:45] smichel17 commented on #29
I was thinking black overlay only on first run (once the user has toggled once, they'll remember how to replicate the behavior in the future), but I like this solution more.

[2016-04-08 16:05] raatmarien commented on #29
Nice catch, I changed it to the standard android white when dark mode is enabled for contrast.

[2016-04-08 16:36] raatmarien commented on #29
[Version 2.7.0 released!](https://github.com/raatmarien/red-moon/releases/tag/v2.7.0)

Thank you so much for all your hard work! The UX a lot better now :smile: :+1:.

[2016-04-08 16:36] #29 closed

[2016-04-08 16:37] raatmarien commented on #30
I've attached a self-signed APK to [the new release](https://github.com/raatmarien/red-moon/releases/tag/v2.7.0).

[2016-04-08 16:39] smichel17 commented on #33
@Siltaar see #30

[2016-04-09 15:29] dillbyrne commented on #39
Thanks, I appreciate it.

[2016-04-09 15:37] raatmarien commented on #34
*  Complex: when Red Moon is enabled, it uses the state it would have been had the service been running the whole time.

I've implemented the simple logic for now. Although I do see the merits of the complex system, it would be quite a bit of work to implement for a few edge cases. I may however implement the complex logic when I have the time (or someone else can if they want :smile:).

[2016-04-09 15:37] #34 closed

[2016-04-09 17:19] M2ck commented on #37
@raatmarien Please give a try to Crowdin, IMHO this is the best translation website and it's free of charge for Open Source projects: [Open Source Project Setup Request Form](https://crowdin.com/page/open-source-project-setup-request).
Then I would be glad to translate Red Moon in French :smiley:

[2016-04-09 21:34] smichel17 commented on #34
@raatmarien definitely not worth trying to implement the complex logic until after #36 is implemented, since that will make the complex logic much less complex.

[2016-04-10 17:23] tspacepilot opened #44 "Automatic turn on/off based on sun not.working"
I touch automatic turn on/off and select "based on sun" and yet I have not seen the filter come on or off automatically.   What am I missing?

[2016-04-10 17:39] smichel17 commented on #44
Did you update the location?

[2016-04-10 17:44] smichel17 commented on #44
@raatmarien When the user switches from `manual` or `custom` to `sun`, Red Moon should probably try to update location immediately (in addition to being able to manually update by tapping the 'location' setting, and attempting to update in the background each time the filter toggles).

[2016-04-10 18:23] tspacepilot commented on #44
@smichel17 I do not see this setting.  Below "Automatic filter" I see "startup",  "appearance" and "contact".  I'm using 2.6.2 from f-droid.

[2016-04-10 19:08] smichel17 commented on #44
@tspacepilot Try upgrading to 2.7.X. There have been a lot of UX improvements.

[2016-04-10 19:16] tspacepilot commented on #44
@smichel17 thanks!  Upgraded and I see the location button now.  @raatmarien it would be really great to add the ability to set a location "by hand" (a postal code, or perhaps just degrees of latitude --- I suppose the latter is all you actually need to compute sunset times) rather than relying on the location services of the device.

[2016-04-10 20:03] smichel17 commented on #32
@Siltaar @raatmarien this issue can be closed with the release of 2.7.0?

[2016-04-10 20:07] smichel17 commented on #44
See #5

[2016-04-11 04:37] theScrabi opened #45 "Make the notification like in 2.6.3 again"
Hello,

the notification in 2.6.2 was pretty usefull, since you could make it stop to apere during the day. The new notification is ab it annoying, since you have to kill the whole app in order to make it go away

Rgds schabi

[2016-04-11 06:46] smichel17 commented on #45
This is planned. See #36.

[2016-04-11 07:14] breversa commented on #34
@smichel17 :
Though a bit late, thank you for your clarification. I'm still totally happy with the simple logic though. ;-)

[2016-04-11 07:40] raatmarien commented on #44
@smichel17, Red Moon v2.7.0+ already does silently update the location whenever the user switches to "Automatic (sun)" mode. However since android only gives the location once every 45 second, users usually manually search for a location before one is found.

@tspacepilot, thanks for the feedback. I'm indeed looking into letting users manually enter their location.

[2016-04-11 11:00] raatmarien commented on #36
Thanks for the detailed post @smichel17, it helps a lot.

I've been thinking about how to allow users to see the notification only when they need it, without complicating the UX.

I'm cautious of re-adding the stop button of v2.6.2 and earlier, because it complicates the state of Red Moon. I also think it would be ambiguous whether Red Moon would automatically turn the filter on when 'stopped'.

I

[2016-04-11 11:02] raatmarien commented on #32
I think so. If you think this should be reopened, let me know @Siltaar!

[2016-04-11 11:02] #32 closed

[2016-04-11 13:27] smichel17 commented on #36
I don't think this would be the case, any more than it would be ambiguous whether Red Moon will automatically turn the filter on after you've dismissed a non-persistent notification.

I think this is a great idea whether or not you implement a "stop" function.

[...]

I think it does introduce a new state:

- Filter on
- Filter paused, notification shown
- NEW: Filter paused, notification dismisse

[2016-04-11 13:45] smichel17 commented on #36
If you go ahead and implement notification non-persistence, I'll send a MR (if you create a new branch, I'll send it there) to implement stopped state, and then you can try it out yourself and see if it's confusing.

other aside: I think the term "Pull request" is rather confusing to newcomers, though it makes total sense to anybody familiar with git, which is why I say MR instead of PR.

[2016-04-11 13:50] smichel17 commented on #45
@theScrabi In the meantime, if you want to never see the notification, you can long press on the red moon icon and then drag it to the top, "App info" -- on that screen, there's a check box "Show notifications". If you uncheck that, notifications will never appear (downside: you'll have to open the app to pause, because there is no notification).

[2016-04-11 14:43] raatmarien commented on #36
Great idea, thanks.

[2016-04-11 16:18] Siltaar commented on #32
Seen Location feedback (can't acquire one, but it may be my bad).

[2016-04-11 16:31] Siltaar commented on #31
Fixed with new release 2.7.1.

[2016-04-11 16:39] raatmarien commented on #31
Okay, great!

[2016-04-11 16:39] #31 closed

[2016-04-12 06:09] jluttine opened #46 "Support Android N's quick tile API"
I'm having difficulties writing this feature proposal because I don't know the terms.. Currently, redmoon appears in the notification panel. At least on my Cyanogenmod, there's another similar panel which shows square icons for wifi, brightness, settings, volume, location etc. Could redmoon be moved there instead (what's the name of that panel???)? One nice square icon among the others. Then, one

[2016-04-12 09:48] raatmarien commented on #46
Thanks for the suggestion.

Do you mean the [quick settings tray](http://dxdkxqkkk0kvy.cloudfront.net/wp-content/uploads/2014/07/android-l-settings-tray.jpg)? I agree it would be great to have a Red Moon icon there, but this tray is only accessible to the system. As far as I know it is impossible to add an non-system app icon or toggle there.

[2016-04-12 09:52] jluttine commented on #46
Yep, quick settings tray. :+1: And yes, I have no idea whether it is possible to non-system app icons there or not. I hope it is possible..

[2016-04-12 14:37] smichel17 commented on #46
@jluttine I'm pretty sure you'd need to modify the android/CM system to do that. The closest we could reasonably get is something silly like Red Moon watching whether bluetooth is on or off and turning itself on and off based on that (which, I don't think we really want to support).

[2016-04-12 15:37] M2ck commented on #46
It will be possible with Android N, not before.
Title should be edited by "Support Android N's quick tile API".

Source: [Android N documentation](https://developer.android.com/preview/api-overview.html#tile_api)

[2016-04-12 15:49] raatmarien commented on #46
Title should be edited by "Support Android N's quick tile API".

Aha, I didn't know that this was added. Thanks for the information.

[2016-04-12 15:53] M2ck commented on #46
You're welcome :)

[2016-04-12 15:58] M2ck commented on #37
In additionally with my previous post, [Weblate](https://weblate.org/en/) is a good translation website too.

[2016-04-12 16:05] raatmarien commented on #37
Then I would be glad to translate Red Moon in French :smiley:

Thanks for the suggestion, handling all the translations manually is indeed far from ideal.

Thanks to your comment I have been looking into different translation websites and have found Weblate too :smile:. I've actually received hosting there just now and I'm setting it up with github now. See: https://hosted.weblate.org/projects/red

[2016-04-12 16:13] M2ck commented on #29
@raatmarien just a small detail, you should replace the checkbox by a switch, Material Design specs say about checkboxes:

If you have multiple options appearing in a list, you can preserve space by using checkboxes instead of on/off switches.
**If you have a single option, avoid using a checkbox and use an on/off switch instead.**

And about switches:

The option that the switch controls, as well

[2016-04-12 16:16] M2ck commented on #37
Perfect :+1:
Red Moon will speak French soon!

[2016-04-12 16:22] theScrabi commented on #45
All right thanks.

[2016-04-12 16:22] #45 closed

[2016-04-12 17:24] smichel17 opened #49 "Better UX for "lower brightness" setting"
- [ ] Change to a switch
- [ ] If the filter is active, takes affect immediately instead of on next toggle

[2016-04-12 17:25] smichel17 commented on #29
@M2ck I made a new issue for this, #49

[2016-04-12 17:28] M2ck commented on #29
@smichel17 Thanks!

[2016-04-12 17:55] smichel17 commented on #37
This issue can probably be closed :)

[2016-04-12 18:03] raatmarien commented on #37
@M2ck thanks for translating!

@smichel17 indeed.

[2016-04-12 18:03] #37 closed

[2016-04-12 18:39] M2ck commented on #37
@raatmarien you're welcome. Did you aware of strings missing, related to the type filter menu & toggle mode dialog, on Weblate?

[2016-04-12 18:45] raatmarien commented on #37
No I wasn't, thanks. I found the cause: https://docs.weblate.org/en/latest/formats.html#android-string-resources and will be fixing it soon.

[2016-04-12 20:10] #49 closed

[2016-04-12 20:11] raatmarien commented on #49
Thanks for letting me know @smichel17 and @M2ck!

[2016-04-12 20:42] SapienTech opened #50 "On/Off Switch issue"
Switch not initialized to ON when red-moon starts from boot.

[2016-04-13 00:48] DistantParadox commented on #37
Awesome.  Currently working on Chinese (Mandarin Simplified) translations.

[2016-04-13 03:42] smichel17 commented on #49
Thank you for implementing everything so quickly! It's so nice to design something and have it just happen :)

[2016-04-13 03:51] smichel17 commented on #50
Could you give a little more detail? When you first install the app, it should be in the OFF position. After that, it should remember the position across reboots.

[2016-04-13 07:27] raatmarien commented on #50
Thanks for reporting this issue.

I can't seem to replicate Red Moon having the incorrect state at boot, but I'm able to replicate it when updating to a new version. Is it possible that it was the first time you opened Red Moon after updating it?

[2016-04-17 10:32] raatmarien commented on #39
Red Moon now dims the hardware buttons when the filter is on. I haven't been able to test it, since I don't own any devices with hardware buttons, so please let me know if it doesn't work when you have updated to v2.7.3.

Thanks!

[2016-04-17 10:32] #39 closed

[2016-04-17 14:47] smichel17 commented on #39
I have a galaxy s4 and will test when this version comes to f-droid.

[2016-04-17 15:28] raatmarien commented on #39
Great, thanks!

[2016-04-17 19:05] dillbyrne commented on #39
@raatmarien it is working great for me on the galaxy s2. :+1:

[2016-04-18 10:25] danialbehzadi opened #56 "UI Tweaks for RTL locales"
There are some twaeks in UI for RTL languages. For example, handles should move from right to left for increasing the value and the resume button should point to the left

This is what it looks like now in Persian locale:
![screenshot_ - - - - -](https://cloud.githubusercontent.com/assets/3658678/14600920/66489384-0574-11e6-9b7a-1fd24a3dbcc7.png)

This is what it should look like:
![screenshot_ -

[2016-04-18 12:26] raatmarien commented on #39
Nice. Thanks for testing :+1:

[2016-04-18 12:27] raatmarien commented on #56
Thanks for letting me know, I didn't know that.

I will look into fixing it.

[2016-04-18 12:34] smichel17 commented on #39
Doesn't seem to have any effect for me. I don't particularly mind because my hardware buttons are not very bright so I never thought to dim them in the first place. I'm also using a deodexed TouchWiz ROM so xposed will work, which is a little flaky at times, so I would not be surprised if that's why it does not work. That part of the dimmer app doesn't work either.

[2016-04-18 12:44] smichel17 commented on #56
Here's the relevant page from the material guidelines. https://www.google.com/design/spec/usability/bidirectionality.html#bidirectionality-rtl-mirroring-guidelines

[2016-04-18 13:12] raatmarien commented on #56
I mirrored the resume icons in RTL layouts, however I can't seem to replicate the issue with the seekbars on your first image. On my device and my emulators, the seekbars progress to the right like in the second image. Could you tell me what android version and what version of Red Moon you are using @danialbehzadi ? Thanks.

[2016-04-18 13:14] raatmarien commented on #39
Thanks for testing it @smichel17. Weird that it doesn't work for you, but as you said I don't think it would be easy to fix, since it doesn't work with the Dimmer app either.

[2016-04-18 16:00] #44 closed

[2016-04-19 06:32] danialbehzadi commented on #56
Android version: 4.4.4 (cyanogenmod 11 20160404)
Red moon version: 2.7.3 F-Droid)

On ۱۸ آوریل ۲۰۱۶ ۱۷:۴۲:۵۱ (GMT+04:30), Marien Raat <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-04-22 14:00] smichel17 commented on #36
@raatmarien Note that this is still on my to-do list, just fairly low priority. Also:

Now that the notification is dismiss-able, I almost always dismiss it when I wake up & would like if that were the default behavior (only for automatic pause, and attached to the automatic pause action, not based on time of day). If the filter is paused manually it should become non-persistent like it is right n

[2016-04-22 14:00] smichel17 commented on #36
(Side benefit: I'd have a code example for exactly how to dismiss the notification, so I wouldn't need to go searching for one :P)

[2016-04-22 19:16] M2ck opened #58 "Improve notification"
- [x] Add Resume/Pause labels near Resume/Pause buttons (especially because on Android N only labels are shown, see [here](http://developer.android.com/preview/features/notification-updates.html#direct))
- [x] Rewrite "Paused" and "Running. Pause to install apks" strings for avoid something of redundant and obvious with the corresponding label below

[2016-04-23 09:22] raatmarien commented on #36
I agree, I found myself doing this too. I've changed the behaviour of the AutomaticFilterChange receiver so it now automatically dismisses the notification if the filter is automatically paused.

I agree with you that this does not need a setting.

For the implementation see here: https://github.com/raatmarien/red-moon/blob/master/app/src/main/java/com/jmstudios/redmoon/receiver/AutomaticFilterCha

[2016-04-25 15:11] smichel17 opened #59 "Preview filter when adjusting sliders"
- [ ] Filter turns on while sliders are being adjusted

When the filter is active, you can see immediately what happens as you adjust the sliders. When the app is off, you need to turn it on to see; real time feedback on what the filter is going to look like would be really useful.

[2016-05-03 17:31] smichel17 commented on #36
@raatmarien Where did you get the fab icons? They're a different size than the notification ones. I can of course make ones that are the right size but that seems silly if they already exist somewhere.

[2016-05-03 20:47] smichel17 commented on #36
@raatmarien I've started on this. Since I don't *really* know what I'm doing (and by that I mean I understand generally what's going on but not any nuance), I'm going slowly, doing things that I don't think should break anything. However, the latest commit causes crashes and I'm not really sure why. I added a new PendingIntent, COMMAND_STOP. First I made COMMAND_STOP=1 so it just gets caught by th

[2016-05-04 16:19] raatmarien commented on #59
This seems very useful, but I'm not sure how to present how the filter would look. Would a simple rectangular surface with the colour that the background colour of Red Moon will become when the filter is on suffice? Or should it display some sample text in white on black and black on white with a filter applied to it, to better show how it will look with the filter on?

[2016-05-04 16:25] raatmarien commented on #36
The fab icons are exports of art/fab_start.svg, art/fab_pause.svg and art/fab_start_rtl.svg. I made those by resizing the art/start.svg, art/pause.svg and art/start_rtl.svg to 96x96, removing the padding that those icons have.

I will take a look at your code to see if I can find the cause of those crashes.

[2016-05-04 16:51] smichel17 commented on #36
For clarity, adding `COMMAND_STOP=1` and the other related changes (the first commit) doesn't change anything. It's only when I add it as a new intent that I try to catch separately that it crashes.

[2016-05-04 16:53] smichel17 commented on #59
I was thinking that the filter would turn on for the whole screen, with no fade.

[2016-05-04 16:58] raatmarien commented on #36
@smichel17 It seems ScreenfilterPresenter was crashing [here](https://github.com/smichel17/red-moon/blob/feature_stop_state/app/src/main/java/com/jmstudios/redmoon/presenter/ScreenFilterPresenter.java#L164), because stopCommand was null. FilterCommandFactory returned null, because the command code exceeded VALID_COMMAND_END https://github.com/smichel17/red-moon/blob/feature_stop_state/app/src/main

[2016-05-04 17:14] smichel17 commented on #36
That was it, thank you!

[2016-05-10 16:02] adryft opened #61 "Add an option not to dim the status bar"
Hello, I've used Darker Pro (a non-free screen filter) for a long time and would like to move to Red Moon as I believe the filter is better, however it lacks some features which are useful.
- ~~Automatically pause when installing APKs
  Darker detects when an APK is attempting to install and temporarily pauses.~~ See #64
- Notification panel buttons
  Easily enable/disable the filter via a button

[2016-05-10 17:51] Kasijjuf commented on #61
Bullet point two should already be a feature.  Are you using the latest version?

[2016-05-31 18:08] RomFouq commented on #61
Automatically pausing for APKs would be awesome, since you need to pause the filter for updating apps on F-droid.

[2016-06-02 21:07] smichel17 opened #63 "Developer-signed apk on f-droid"
Advantage: [increased trust/security](https://github.com/WhisperSystems/Signal-Android/issues/127).

Disadvantage: the [current process](https://f-droid.org/wiki/page/Deterministic,_Reproducible_Builds) seems a little cumbersome.

I'm not sure if this is something worth the hassle of doing right now, but it is something I'd encourage you to set up in the long term, so I figured I'd create an issue

[2016-06-22 13:26] DistantParadox commented on #63
I agree with this completely.  It is especially necessary since the Google Play Store runs as root on android devices, while the normal user does not.  This inherently gives Google the ability to force silent updates onto android devices, making it all the more reason to have developer-signed APK's - aside from generally respecting the user by ensuring the integrity of the app.

[2016-06-22 19:36] smichel17 commented on #63
I don't believe this app is distributed through the Google play store yet; just f-droid. That said, all the issues you mentioned will still apply when root functionality is re-enabled in f-droid.

[2016-06-22 22:26] Kasijjuf commented on #63
https://github.com/raatmarien/red-moon/releases/download/v2.7.4/red-moon-v2.7.4.apk Is this what you are looking for?

[2016-06-23 04:48] smichel17 commented on #63
That exists, but the version on f-droid is signed by f-droid, not by @raatmarien

[2016-07-02 10:56] raatmarien commented on #63
This seems like a great solution to the problem of F-Droids trust model, however I'm not sure if it is possible to make Red Moon's build reproducible.

very unlikely to be the case unless the exact same toolchain is used, so
I would imagine that unless the person building and signing the incoming
binaries uses fdroidserver to build them, probably the exact same
buildserver id, they will not match.

[2016-07-02 11:33] raatmarien commented on #61
Thanks for the suggestions!

Darker detects when an APK is attempting to install and temporarily pauses.

This would indeed be very useful, and I've been looking into how to accomplish this. It seems that up to Android Lollipop (API 21) it was fairly easy to get the info of the foreground app with [ActivityManager.getRunningTasks](https://developer.android.com/reference/android/app/ActivityManager

[2016-07-02 11:37] raatmarien commented on #50
Since there have been a few changes to how Red Moon handles the state after a boot, I'm closing this issue for now under the assumption that it isn't relevant anymore. If you still experience this problem, feel free to reopen it.

[2016-07-02 11:37] #50 closed

[2016-07-02 11:46] raatmarien commented on #61
I'm going to move your first suggestion to a separate issue for clarity.

[2016-07-02 11:47] raatmarien opened #64 "Automatically pause filter in some apps (APK Installer)"
Originally discussed in #61.

Darker detects when an APK is attempting to install and temporarily pauses.

This would indeed be very useful, and I've been looking into how to accomplish this. It seems that up to Android Lollipop (API 21) it was fairly easy to get the info of the foreground app with [ActivityManager.getRunningTasks](https://developer.android.com/reference/android/app/ActivityManage

[2016-07-04 15:53] Salamandar commented on #58
- [ ] Add +/- buttons for luminosity like in Darker ?

[2016-07-04 16:17] raatmarien commented on #58
Although I see the use of this feature for Darker, I don't think it is appropriate for Red Moon, since the Red Moon filter can't be changed with only one value. Whereas Darker has just the one setting for the strength of the filter, Red Moon has both the intensity and the dim level. Because of this I think it is more convenient for the user to just make a few profiles that they regularly use and s

[2016-07-25 12:51] raatmarien commented on #59
I finally got around to implementing this. I will include it in the next update.

[2016-07-25 12:51] #59 closed

[2016-07-28 18:01] raatmarien commented on #30
I released Red Moon on the Google Play store today!

https://play.google.com/store/apps/details?id=com.jmstudios.redmoon

[2016-07-28 18:01] #30 closed

[2016-07-29 21:48] kylenoteboom opened #67 "Cannot find location"
Trying to find my location when location services are turned off gives me a toast saying I need to enable location services.

I enabled them, and it's been searching for my location this whole day by now.

Might be a problem with my shitty GPS, but I can't manually set my location either.

What do?

[2016-07-30 01:38] smichel17 commented on #67
Probably the easiest thing is just setting the on/off times automatically.

[2016-07-30 18:58] pylerSM opened #68 "Overlays and SuperSU"
Can you support this https://su.chainfire.eu/#updates-tapjacking?

[2016-07-30 19:30] smichel17 commented on #68
Seems like a reasonable thing to support. We should not request superuser access on first run, though.

It should be a setting that has its own screen to explain why we are requesting SU access, like 'magnification gestures' here: https://material.google.com/patterns/settings.html#settings-labels-secondary-text

[2016-07-30 19:47] smichel17 commented on #64
Here's an idea, albeit one that makes me a little uncomfortable.

We could allow users to set red moon as the default application for installing apks, rather than the package installer. Then red moon disables the filter, calls the package installer so the user can install the apk. When the package installer completes, red moon will automatically return to the foreground. Then it can re-enable the

[2016-08-01 12:43] supernoctem opened #69 "[Enhancement] Android Wear Support"
Android Wear support for watches, to set the same screen filters on the watch.

[2016-08-01 12:54] Kasijjuf commented on #69
I hope I'm wrong, but unfortunately I believe at this  time that Wear apps require Google Play Services and thus can't be done in a free/libre app. Someone please tell me I'm wrong on this one, cause I would love to be wrong.

[2016-08-01 14:08] supernoctem commented on #69
From some quick searching, I can see that sending settings and things to Android Wear might be difficult without Play Services. The only other way would be using the standard bluetooth api, but I have no idea how this work.

[1] https://stackoverflow.com/questions/30063783/android-wear-without-google-play-services
[2] https://developer.android.com/training/wearables/apps/creating.html

[2016-08-01 15:00] smichel17 commented on #69
Maybe the best solution for the meantime would be to offer Wear support through an add-on that uses play services but is distributed in its own apk.

[2016-08-01 22:07] smichel17 opened #70 "Seekbar preference cleanup"
- [x] Only show the preview when dragging a seekbar (not when pressing and holding down without dragging, since this can result in a buggy-feeling "flashing" experience.
- [ ] Refactor seekbarprefs to re-use code.

Here's a bunch of thoughts about filtering. I couldn't decide where to draw lines so I'm just going to dump them all here.
- Dragging works really well and is really useful.
  - As a us

[2016-08-03 09:01] thigg opened #71 "Add changelog link to fdroid repo"
It would be nice if one could read the changelog before updating.

[2016-08-03 10:15] raatmarien commented on #71
Great point!

I've submitted a Merge Request to the main F-Droid data repository to add the changelog to the metadata. When it is merged, it will only take few days until it shows up on F-Droid.

https://gitlab.com/fdroid/fdroiddata/merge_requests/1585

[2016-08-03 10:15] #71 closed

[2016-08-03 10:16] raatmarien commented on #71
It has been merged already. The changelog will show up on F-Droid in a few days.

[2016-08-03 10:35] raatmarien commented on #70
Thanks for the detailed thoughts!

Could you explain how/when the preview flickers? Because I can't replicate any flickering on my device.

I noticed this too. Seek bars in Android indeed only update their value when they are dragged or released. However, this is actually a 'feature' and not a bug. The seek bar doesn't update, because the touch event hasn't been determined yet if you tap and hold

[2016-08-03 10:37] raatmarien commented on #69
I agree with @smichel17 that an add-on using Google Play Services would probably be the best solution. However, I don't own an Android Wear devices, so I can not develop this add-on.

[2016-08-03 10:41] raatmarien commented on #67
Thanks for reporting this bug!

Do you have a network location back end, for example Google Play Services or mg UnifiedNlp, installed and enabled?

[2016-08-03 11:38] kylenoteboom commented on #67
I've got Google Play Services.
The `Location` settings has a `Location mode` option, which is set to `High accuracy`, with the following description: `Use GPS, Wi-Fi and mobile networks to determine location`

[2016-08-03 13:11] smichel17 commented on #70
Maybe "flash" would have been a better word than "flicker"

On my Samsung Galaxy S4, the preview takes just under a quarter second to turn on when I tap and hold. So if I tap and hold for just over a quarter second, the filter is only on for a fraction of a second. It's a bug in the design, not the code.

I think so.

- If it's a scroll event, it should behave exactly as it does: immediate on; imm

[2016-08-03 13:13] smichel17 commented on #67
Do other apps that require your location work?

[2016-08-03 13:54] kylenoteboom commented on #67
Yes, but with problems as well. As I mentioned above, my GPS sucks. Google Maps was able to locate me exactly 3 times on a ~35 minute bike ride.

Regardless, an option to manually set your location should be available in my opinion.

[2016-08-03 14:39] smichel17 commented on #67
It seems like this is probably a problem with your GPS then, not Red Moon so I think this issue can be closed. We can continue discussing the ability to set your location in #5.

In the meantime, the best workaround would be to set on/off times manually.

[2016-08-03 17:24] raatmarien commented on #67
Indeed, let's discuss manual setting of location in #5 :+1:

[2016-08-03 17:24] #67 closed

[2016-08-04 19:47] Jawnnypoo commented on #69
If you are worried about it being free with reguards to submitting it to F-Droid, the usual solution is to have multiple build flavors, one that is "free" containing only open FOSS, and then another flavor that contains things like Google Play Services, Fabric, etc.

[2016-08-05 18:07] pylerSM commented on #64
^^ this is best idea. I maybe try to implement it :D

[2016-08-06 21:13] Kasijjuf commented on #69
@Jawnnypoo, The problem with that is that since this app is licensed under GPLv3+, unless you can get Google to release Play Services under a GPLv3-compatible free software license (good luck with that), Play Services may not be included in the project.

[2016-08-09 06:46] CharString commented on #63
Someone is selling it on Google Play: https://play.google.com/store/apps/details?id=com.jmstudios.redmoon

They are linking to this repo, so they might be adhering to the GPS if that counts as distributing the source.

I would love to have my girlfriend pay for the app, I just want to be certain that the build is trustable and that the money will support the project and not some troll.

The whole

[2016-08-09 07:59] raatmarien commented on #63
This is indeed the official Red Moon on Google Play, buying it would be greatly appreciated! The only difference between the F-Droid and Google Play version is that the Google Play version gives the user the option to rate Red Moon.

[2016-08-09 12:45] smichel17 opened #75 "Lower brightness per filter"
`lower brightness` looks like it is part of the settings for a filter, but is actually independent of the selected filter.

Options to fix are
- making it per-filter
  - Argument for this: there is a filter I use (for viewing color-sensitive media in a room with lights off) which does not change the red levels but does darken the screen; I use it exclusively after I've turned my phone's hardware b

[2016-08-13 10:04] raatmarien commented on #64
I've implemented a solution to this in [v2.9.0](https://github.com/raatmarien/red-moon/releases/tag/v2.9.0). If you enable "Automatic suspend" in this version, Red Moon polls the current package every second that the filter is active and the screen is on and suspends the filter when a 'protected' app is detected. See: efa1e05bc70fa29f00c697e3ab00b894051b78f6.

[2016-08-13 10:04] #64 closed

[2016-08-13 11:46] pylerSM commented on #64
fine :)

[2016-08-14 18:39] #68 closed

[2016-08-24 17:53] nikals opened #79 "Bright flash when lowering brightness"
Checklist added by @smichel17. Original comment (not modified) is below.

- [ ] Gradually lower brightness as the filter fades in, instead of all at once

---

When I have the option "Lower Brightness" enabled and turn on red moon, the screen flashes bright as it restores the brightness to max before lowering it.
Sony Xperia Z5

[2016-08-26 14:39] revuwa opened #80 "Send public Intents when Red Moon pauses/resumes"
Thanks for this great app, which I really like to use.

Especially I like the automatic toggle mode. Usually I switch my device in airplane mode for the night.
So it would be very cool if there would be a airplane mode toggle, which automatically activates on the custom automatic red-moon toggle times.

For me this would be an awesome feature. Is there anybody else, who agrees about this suggestio

[2016-08-26 18:38] smichel17 commented on #80
One of the things that makes Red Moon great is that it is very simple to set up and use. Every feature and setting you add makes it harder to use, because it is another thing you need to think about before you can get straight into using the app.

As I understand it, Red Moon is made for users who want to use their phone in the dark, either to make it easier on their eyes or help with sleep. I'm h

[2016-08-30 17:13] revuwa commented on #80
@smichel17 Thanks for your response.

This was the question, I would like to ask.

First, your intent based idea sounds great to me. But I can't find an open source Tasks alternative. I just found LibreTasks https://f-droid.org/repository/browse/?fdid=libretasks.app which doesn't seems to support airplane toggle, only wi-fi and BT, and only defined triggers, not really intents.

I don't know. If t

[2016-08-30 19:03] smichel17 opened #81 "Do not show notification on boot during day"
On boot/reboot phone during the day, the red moon notification is shown (in its non-persistent state).

We should not do this, in order to mirror the behavior when the filter automatically turns off.

[2016-09-01 01:22] smichel17 opened #82 "Remember last used values for 'custom'"
1. Change values so filter displays `custom`
2. Select a saved filter
3. Select `custom` again

Current behavior: No change in the active filter
Desired behavior: Filter changes back to what it was in step 1

Then you can make `custom` selectable from the notification, so that you can test out a certain configuration and compare it to existing filters, without continually saving/deleting filters o

[2016-09-05 01:51] smichel17 opened #83 "Do not apply filter to #000000 pixels (for AMOLED screens)"
It's rather impossible to get any darker or less blue than off. So, in those cases, we should not apply the filter to those pixels.

I don't know if it's possible to detect an AMOLED screen. If not, we should change the dark theme to use a black background and rename the setting, which now also controls this feature, to `AMOLED mode`.

While the current background is slightly prettier than a black

[2016-09-05 02:17] smichel17 commented on #75
As additional argument for option 1, I'll add that it suits my pattern of use rather well: When the filter turns on, I almost always set it to default and automatic brightness right away. Then later when I'm going to bed, if I want to use my phone in the dark, I'll change to my "darker" filter and manually lower the brightness.

[2016-09-05 02:28] smichel17 commented on #58
For part 2, what if we removed the 'Running' and 'Paused' parts of those strings (ie, removed the 'Paused' string entirely and only show 'Pause to install apks' when the auto-pause feature is disabled. Between the pause/resume button and the color of the screen, it's pretty painfully obvious whether Red Moon is running or not.

[2016-09-10 10:28] pylerSM commented on #80
Togglin Airplane mode requires root. If you have root and use Tasker I think @raatmarien have no problems to add code which fires intents for " red-moon toggle times" events (start/stop)

[2016-09-10 10:31] pylerSM opened #84 "Greyscale profile"
It would be nice to provide greyscale (black-white only) color profil out of box, to be enabled by single click.

[2016-09-10 12:52] smichel17 commented on #84
Dim only, you mean? Possibly. The profiles I use the most are the default profile and one that's like the default but at 70% dim level.

I like the idea of shipping more out-of-the-box profiles, but if we do that I think we should also allow users to remove them. If we do that, we also need to provide a way to reset your profiles back to the way they came.

[2016-09-10 13:02] smichel17 commented on #80
I feel your pain, but this doesn't change my opinion about whether we should support the feature directly. It would be better to take the effort spend developing the feature and add it to LibreTasks instead :)

The [toggle mode] menu is about controlling *when* the filter toggles, not what happens when it toggles. Having the functionality available but hidden is not something I would support eithe

[2016-09-19 17:19] raatmarien commented on #79
Thanks for letting me know!

I'm not sure why this is happening, especially because Red Moon lowers the brightness before changing the brightness mode. I think this is a device specific bug, since I can't replicate it on any of my devices. If anyone can replicate and try to fix it, PR's are welcome.

[2016-09-19 17:25] raatmarien commented on #75
When I first implemented profiles, I thought it would only be for the colour/transparency of the filter, so I haven't made it very flexible. I agree that it is confusing that Lower brightness is under the same header, but not affected by the profile.

Option 1 seems like the best solution to me, however it will require a change in the database of the profiles. I will look into changing this databa

[2016-09-19 17:28] raatmarien commented on #80
I agree that this probably falls out of the scope of Red Moon. It would be better if this functionality was added to LibreTasks.

[2016-09-19 17:31] raatmarien commented on #81
I agree, I will look into implementing this.

[2016-09-19 21:50] smichel17 commented on #80
Red Moon already uses intents to change filter state internally. Are those visible to apps like Libretasks/tasker? If not, I'd consider this issue a request to make them visible.

[2016-09-19 21:52] smichel17 commented on #75
Having things change without taking any action (many users auto-update) is diruptive; I would use whatever the user has set when they update for all filters as the default value.

For new installs, definitely off for `Default`, but maybe on for `Bed reading`? Or we could just let the user enable it in a custom profile if they want it. I'm not sure about that one.

[2016-09-19 21:53] smichel17 commented on #79
I can replicate this on my Samsung galaxy S4 (SCH-i545). I'm a bit busy at the moment but I'll keep this on my radar. I don't use the lower brightness option

[2016-09-20 08:12] raatmarien commented on #80
Hmm, I didn't think of that. Making the pause/resume intents public would indeed be an option. I'm not sure however if Red Moon should send these intents whenever Red Moon pauses/resumes, or only if it does so automatically. Maybe it should sent different signals for both, so the user has the option to choose? For example, AUTOMATIC_PAUSE and AUTOMATIC_RESUME for automatic changes and MANUAL_PAUSE

[2016-09-20 08:15] raatmarien commented on #82
I agree that this would be an improvement. I do however think it would require a significant change in the code. I will look into it if I find the time, but if anyone wants to contribute, PRs are welcome.

[2016-09-20 08:23] raatmarien commented on #83
I agree that we shouldn't filter black pixels, however due to how Android is set up, it is impossible to accomplish this without a special root mode (See #20).

It would be possible to add an extra theme to Red Moon, that has a completely black background (an AMOLED Dark Theme). However I'm not sure that it would be worth the effort since most users won't spent a lot of time in the Activity of Red

[2016-09-20 14:49] smichel17 commented on #80
I would send it for all pause/resume events, for two reasons:

1. It's easier.
2. At a conceptual level, Red Moon only has the concept of pause/resume (rather than stop/start/pause, like Twilight). Let's stick with that for now and only diverge if it turns out there's a good reason to.

[2016-09-20 15:54] smichel17 commented on #80
Would making them public would also allow other apps to send them? If not, that's worth looking in to, as well.

As you may be able to tell, I'm a fan of scripting / hook functionality like that as a way to add power for advanced users in a way that isn't overwhelming to new users.

[2016-09-20 16:13] #81 closed

[2016-09-20 23:31] smichel17 commented on #83
I guess this is a duplicate of #20, then.

Totally agreed. The part about the theme was only an idea for how we could incorporate the feature without introducing any additional settings. Since a root mode would require an additional setting anyway, this part is now irrelevant.

[2016-09-20 23:31] #83 closed

[2016-09-20 23:43] smichel17 opened #85 "Fail gracefully if overlay permission is revoked"
Right now if the overlay permission is revoked while automatic filter is enabled, Red Moon will crash.

Instead of trying to start the filter, we should do something like show a toast that prompts the user to open Red Moon and fix the issue.

[2016-09-20 23:44] smichel17 commented on #85
I'm working on a MR with a couple UI changes. It should be done later tonight but you might want to hold off on this until it is done.

[2016-09-24 19:08] jat255 opened #87 "Turns on when it shouldn't on Android Nougat"
After upgrading to Android N on my 6p, red moon randomly turns on during the day when I have it set to automatic enabling. Never happened on Marshmallow.

Not sure how to debug this more, but it just kicked on at 3pm, even though the sun is very much still up! Had it set to automatic (sun) setting. When this happens, going into the app and pressing pause works for a second, but then the filter tur

[2016-09-24 19:28] smichel17 commented on #87
When automatic (sun) mode is enabled, although the time preferences are grayed out, their value gets updated to show what Red Moon thinks the sunset time is. Could you check to see what those values are so we can figure out whether it's a bug in the location part or the filter part of Red Moon?

[2016-09-25 00:31] jat255 commented on #87
They seem to be correct (at least right now). 18:38 for sunset and 6:36 for
sunrise.

On Sat, Sep 24, 2016, 3:28 PM smichel17 <notifications@github.com> wrote:

[2016-09-25 15:09] raatmarien commented on #87
This is very weird, this seems to be happening to more users who have upgraded to Android 7. Sorry for the inconvenience! However, I can't seem to replicate it in the emulator. I will take a look in the source to see if I can find anything which may be causing it, but it is quite hard without being able to replicate it.

[2016-09-25 15:55] smichel17 commented on #87
Maybe we could push an update with more extensive logging so users experiencing the bug can send detailed logs?

[2016-09-26 00:58] jat255 commented on #87
Hmm, so today, everything worked as expected. Didn't come on when it wasn't
supposed to, and came on at 6:39pm as expected. I have no idea what
changed, though.

On Sun, Sep 25, 2016 at 11:55 AM, smichel17 <notifications@github.com>
wrote:

--
Joshua Taillon
Materials Science and Engineering
University of Maryland, College Park
www.joshuataillon.com

[2016-09-26 05:26] robinpaulson opened #89 "System is very slow when red moon is activated"
Hi, i'm using Red Moon on Replicant (a free software derivative of Android) 4.2.2, on a Samsung Galaxy S3. When Red Moon activates it self at sun down, my device straight away becomes much slower to react; screen drags, button clicks, everything now has a delay. I am using the most recent version, installed from f-droid.

Has anyone else had similar problems?
Any suggestions for debug info I might

[2016-09-26 11:14] raatmarien commented on #89
Thanks for letting me know!

I've tried Red Moon a few times on a galaxy nexus with Replicant, and the same problem occurs there. I've tried to fix this, by optimizing the code used for drawing, but this didn't work. It seems the problem is with Replicant not having a GPU driver, which makes the filter draw on the CPU, slowing it down. So it seems that it isn't possible to use Red Moon without slo

[2016-09-26 11:15] raatmarien commented on #89
Hey Robin,

Thanks for letting me know!

I've tried Red Moon a few times on a galaxy nexus with Replicant, and the same problem occurs there. I've tried to fix this, by optimizing the code used for drawing, but this didn't work. It seems the problem is with Replicant not having a GPU driver, which makes the filter draw on the CPU, slowing it down. So it seems that it isn't possible to use Red Moon

[2016-09-26 11:15] #89 closed

[2016-09-28 11:37] WillRubin commented on #87
I'm having a similar issue as well under Nougat. If I enable turn on/off for particular times (for example enable at 21:30 and disable at 6:00) red moon enables immediately during the non bounded times. (So all the time.) I also tried reversing the times to see if they were "backwards" but that had no effect: the system dimmed immediately after pausing it. My only solution was going back to manual

[2016-09-28 11:38] smichel17 commented on #87
Maybe Nougat changed the contract of whatever method we use to get the time?

[2016-09-28 11:40] WillRubin commented on #87
Possibly. Anything I can try to help determine the culprit?

[2016-09-28 11:53] smichel17 commented on #87
I don't have any more time to look into this, but it looks like we don't interact with Android until the following function in AutomaticFilterChangeReciever.java, so the bug has to be in here somewhere:
[code]

[2016-10-10 14:11] smichel17 opened #90 "Automatic toggle UX"
I had bundled this with #88 because it's closely related, but #88 is already pretty big, so I figured I'd separate this part.
 - [x] Separate the filter toggle into two switches instead of a drop-down menu:
   - [x] `Automatic toggle` switches between manual and automatic modes
   - [x] `Location` changed to a switch between custom and location-based times.
     - [x] On toggle on, if location ser

[2016-10-10 16:49] smichel17 opened #91 "Automatic pause when installing apps with f-droid privileged extension"
We might need f-droid to make changes on their end to support this. See [this issue](https://gitlab.com/fdroid/fdroidclient/issues/782) on their repo.

[2016-10-12 22:57] SapienTech commented on #50
@raatmarien @smichel17 hi there, happened to not see that you guys responded! It may have been from an update, i'll double check now to see if the new updates have fixed things. I haven't seen the error in a while so i believe its fixed!

[2016-10-24 15:09] smichel17 commented on #79
Hrm. I have always been able to replicate this, but now that I was going to look into it, I am unable to -.-

[2016-10-27 21:54] smichel17 opened #93 "Consider using eventBus instead of onSettingsChangedListener"
For example, [sticky events](http://greenrobot.org/eventbus/documentation/configuration/sticky-events/) would make dealing with filter state sooo much easier. It's a relatively small DEX count -- around 350 methods.

[2016-10-27 22:43] smichel17 opened #94 "Kotlin"
I've been programming recently (on another [app](https://github.com/mpcjanssen/simpletask-android) I use) in [kotlin](http://kotlinlang.org/), which is [much](https://kotlinlang.org/docs/reference/control-flow.html), [much](https://kotlinlang.org/docs/reference/lambdas.html) nicer than java.

Straight to the point: would you accept a MR converting Red Moon to kotlin?

[2016-10-28 01:21] smichel17 commented on #94
Kotlin has really good [java interoperability](https://kotlinlang.org/docs/reference/java-interop.html), so it's possible to convert files one at a time (ie, any time you're going to make a change). The Android Studio kotlin plugin also has automatic kotlin -> java conversion which works, although it doesn't really give you the full benefit of switching since it's just straight syntax conversion.

[2016-10-30 12:52] raatmarien commented on #93
EventBus looks like a very convenient library, especially for broadcasting setting changes. However, I don't have the time to implement it in the codebase.

[2016-10-30 18:42] smichel17 commented on #94
@raatmarien Or, just thoughts?

[2016-10-31 21:50] smichel17 commented on #94
@raatmarien If you're anything except strictly opposed to this, I'm going to go ahead and convert a file or two, to try to convince you of how nice this would be :P

[2016-11-01 13:44] smichel17 commented on #94
See #95

[2016-11-02 22:33] smichel17 commented on #90
@raatmarien I've done most of this. However, it's so mixed up with #92 that I couldn't do it separately and merge, so I've just done it on a branch that's based off that one. I can either:

- push what I've done to #92
  - Probably the neater way to do it, but it might make #92 harder to review
- wait until you merge #92 and make another MR

Which would you prefer?

[2016-11-11 00:05] smichel17 commented on #94
@raatmarien Being impatient, I'm going to convert the whole thing and hope that you're on board with that, and if it turns out otherwise, we'll cross that bridge when we get there.

[2016-11-11 15:13] Kasijjuf opened #96 "Typo in app description on Google Play."
In the app description, the sentence:

Red Moon is licensed under the GNU General Public License or, at your option any later version.

should instead read

Red Moon is licensed under the GNU General Public License, either version 3 of the License, or (at your option) any later version.

[2016-11-11 15:32] raatmarien commented on #96
Thanks! The fixed version should be online in a few hours :+1:

[2016-11-12 18:46] jogrimst commented on #33
I also often have problems with the change from bright to dark screen being too sudden.

A gradual transition similar to what f.lux does would be nice:

![screen shot 2016-11-12 at 21 42 01](https://cloud.githubusercontent.com/assets/1451036/20240099/2967887a-a921-11e6-9e7c-1ec7038bbb2d.png)

[2016-11-14 10:41] StefanBrand opened #97 "Make it impossible to swipe notification away"
I sometimes swipe the Red Moon notification away accidentally. Other apps produce notifications that can't be swiped away. Since there is the "Pause" button anyway there is also no reason to swipe the notification away.

I'm using Red Moon on a Fairphone 1 running Android KitKat 4.4.2.

[2016-11-14 10:49] smichel17 commented on #97
You should only be able to swipe the notification away while the filter is paused. Can you confirm whether this is the case?

[2016-11-14 11:59] StefanBrand commented on #97
Haha, this is embarrassing. Now I can't swipe it away in any state (regardless of it being paused or running).

Why should it possible to swipe it away when paused? Will Red Moon turn itself on if there is no notification?

Am 14. November 2016 11:49:03 MEZ, schrieb smichel17 <notifications@github.com>:

--
Diese Nachricht wurde von meinem Fairphone mit K-9 Mail gesendet.

[2016-11-14 14:08] smichel17 commented on #97
When red moon is on, there is always a notification that you cannot (or,  should not be able to) dismiss.

It's dismiss-able when paused in case you turn off red moon and no longer want a notification.

"Pause" is really a misnomer, which is left over from when Red Moon had distinct "stopped" and "paused" states. Really, it's either on or off, and if it's off you might want to dismiss the notifica

[2016-11-14 15:05] StefanBrand commented on #97
Ok, I understand. At the moment I can't even swipe the notification away when Red Moon is off.

Also my question still stands: If I swipe the notification away, will Red Moon still automatically turn itself on at sunset?

Am 14. November 2016 15:08:27 MEZ, schrieb smichel17 <notifications@github.com>:

--
Diese Nachricht wurde von meinem Fairphone mit K-9 Mail gesendet.

[2016-11-14 15:12] smichel17 commented on #97
If automatic turn on is enabled, yes it will. If automatic turn on is enabled,  it should also dismiss the notification automatically when it turns the filter off.

[2016-11-15 06:54] jcrowgey opened #98 "Fade into filter"
More of a suggestion than an issue: what about a modality where the filter slowly gets more intense as time passes.  I'd love to have the color temp go redder and the dim get stronger as the evening goes on.  Say I start my filter around sunset and smoothly interpolate to whatever my max is at around 2 am.  I guess I've found that if I'm using my phone in bed in a dark room at midnight, I want a d

[2016-11-15 07:58] smichel17 commented on #98
Duplicate of #33

[2016-11-18 18:42] StefanBrand commented on #97
It doesn't on my phone. The notification is displayed always, although I
have automatich turn on enabled.

Am 14.11.2016 um 16:12 schrieb smichel17:

[2016-11-18 19:47] smichel17 commented on #97
I can't b reproduce any of this in an emulator. On my personal phone the notification does not dismiss properly (although it did at one point), so I can reproduce that part.

Later today I'll see if I can get you a debug build so I can find out what's going on.

[2016-11-18 19:49] StefanBrand commented on #97
Would more information from my part be helpful, for example some kind of
log?

Am 18.11.2016 um 20:47 schrieb smichel17:

[2016-11-18 19:53] smichel17 commented on #97
Yes, I will ask for a logcat.

However, while there is logging in the red moon code, it's disabled in the release builds. I just need to change a couple lines of `DEBUG = false` to `true` to enable it, then send you an apk so you can install it and get the log.

[2016-11-18 19:54] smichel17 commented on #97
If you are able to build yourself, I can tell you which lines those are.

[2016-11-18 20:00] StefanBrand commented on #97
I don't have a build system set up, so please send me that debug build
and I will then make a log.

Am 18.11.2016 um 20:54 schrieb smichel17:

[2016-11-19 10:40] raatmarien commented on #98
I do get the use case of a gradual transition of the filter, however I think that implementing something like this would complicate the code base and the UX of Red Moon, since an important feature of Red Moon is easy enabling and disabling of the filter at any time.

I'll close this issue to keep further discussion centralised in #33.

[2016-11-19 10:40] #98 closed

[2016-11-19 10:42] raatmarien commented on #97
I can't replicate this bug, so it'd be great if you could take a look at it @smichel17 :+1:

[2016-11-22 03:34] boconnell commented on #87
Took some time to look into this because it was affecting me. To me, the bug is that in the [method  above](https://github.com/raatmarien/red-moon/issues/87#issuecomment-250145774), we are always changing the time zone to UTC. It doesn't make sense to imply the user's time zone. At least, as a user myself, I assume that when I'm using the date picker, it is in my local time zone. Using the "automa

[2016-11-22 18:26] #87 closed

[2016-11-22 18:32] raatmarien commented on #87
This is indeed the intention, I changed the time zone of the calendar to UTC, because the AlarmManager wants the time in UTC, however Calendar.getTimeInMillis() always returns the milliseconds in UTC, regardless of the time zone of the Calendar, so this was indeed an error.

This seems like quite an intricate bug, thanks for taking the time to find and fix it!

[2016-11-23 16:21] Kasijjuf commented on #96
I'm still not seeing the updated text.

[2016-11-23 21:54] raatmarien commented on #96
Hmm, weird, thanks for the reminder. It seems like the update didn't get through.

I've submitted it again and will check if it got through tomorrow.

[2016-11-24 14:13] raatmarien commented on #96
The updated text is life now (at least for me).

[2016-11-24 14:13] #96 closed

[2016-11-24 15:02] smichel17 commented on #96
It is updated for me as well.

[2016-11-26 02:26] Kasijjuf commented on #96
LGTM

[2016-12-09 03:08] sappjw opened #100 "Holdoff for sunset/sunrise operation"
I like the ability to have the filter automatically turn on or off with the sunrise or sunset, but I find I'd like it to happen a bit earlier or later. Maybe a setting to hold off past sunset for a certain number of minutes before turning on the filter would be nice.

[2016-12-09 04:45] smichel17 commented on #100
I agree that slightly more flexibility would be nice. #95 has a huge amount of backend changes and a small amount of fronted changes. They include moving the time toggle settings to a subpage (like secure suspend), which will give us more room to add a setting or two like this without making red moon too.complex, I think.

[2016-12-09 17:19] di72nn commented on #39
Hi.
Thanks for the feature, but it has a very nasty side-effect: the app disables keyboard backlight on devices with a physical QWERTY keyboard, which renders the keyboard almost unusable (it is hard to blind-type on a mobile keyboard).
Please add an option to disable the feature.

[2016-12-09 17:58] smichel17 commented on #39
@di72nn could you create a new issue for this so it doesn't get lost? Thanks.

[2016-12-09 18:55] di72nn opened #101 "Make it optional to disable button backlight"
The feature disabling button backlight is fine, but it has as a side-effect: it disables keyboard backlight on devices with a physical QWERTY keyboard, which renders the keyboard almost unusable (it is hard to touch type on a mobile keyboard).

Please make this function optional.

[2016-12-09 19:45] smichel17 commented on #101
I wonder if there is a way to detect if the device has a backlit keyboard. If so, we could just do this for you instead of making it a setting. If not, this is a reasonable thing to offer.

[2016-12-10 07:41] di72nn commented on #101
Someone with a hardware keyboard might want to actually have the feature enabled.

// Anyway, I found that the app can disable this feature (no UI for that, though), I just had to add `<boolean name="pref_key_dim_buttons" value="false" />` to the `com.jmstudios.redmoon_preferences.xml` file.

[2016-12-11 16:15] elumbella opened #102 "App won't find my location"
The app doesn't find the location when in automatic mode. It keeps saying "searching for location" but will not find it. Permissions are definitely given, and other apps can locate just fine.

I'm using Android 6.0.1 on BlackBerry PRIV.

[2016-12-11 18:00] smichel17 commented on #102
Hard to tell what's going on without a log, and there's not good logging enabled on the fdroid/play store releases.

The only way I can think of in which this might be different from other apps is that Red Moon only uses approximate, network (cell tower) based location, not gps. So if your gps is working but for some reason approximate location is not,  that could be the issue.

The best way I can

[2016-12-11 18:28] elumbella commented on #102
I just tried using the power saving mode. I believe my device uses GPS position nonetheless, but only if it is being used (I know because I tried to track a ride with strava while in power saving mode). No idea if approximate position is used for anything, couldn't find anything in the settings.

Other apps therefore work when in power saving mode. But even when I switch from these other apps, tha

[2016-12-13 22:54] smichel17 commented on #101
I think this is worth adding, but I want to think a little bit about where to add it, as I don't want to clog up the main interface with a lot of options. Part of the reason Red Moon is great (IMO) is that it just works.

Options would be adding another category with advanced options (at first, just this), or making a "settings" activity (probably accessed via overflow menu, like most apps) with o

[2016-12-13 22:58] smichel17 commented on #102
Unfortunately, not really. You'd need to compile from source. After you downloaded the source, you'll need to change the line `private static final boolean DEBUG = false;` in this file:

https://github.com/raatmarien/red-moon/blob/master/app/src/main/java/com/jmstudios/redmoon/preference/LocationPreference.java

to `private static final boolean DEBUG = true;`

[2016-12-13 23:01] smichel17 commented on #102
I'm in the middle of making a bunch of changes (mostly backend) in #95. I kind of want to say, wait until I'm done with that, to see if it's still an issue. We can also enable logging in that release.

[2017-01-01 03:51] jgkamat commented on #101
+1 on adding a GUI option to turn this off
My hardware buttons are very dim at the highest setting, and tuning them off/dimming them dosen't make sense for me. Thanks for the workaround (but it would be nice to have an easy way to toggle this).

I personally think it would be fine to add another entry under 'other' but an advanced menu option would work too.

[2017-01-01 06:20] smichel17 commented on #101
Would you see this as an app-wide setting or a per-filter setting?

[2017-01-01 06:22] jgkamat commented on #101
I think that it would be fine to have it as an app-wide setting. I don't think very many people will want different settings between different filters.

[2017-01-10 16:56] Sirove opened #104 "Auto pause while taking a screenshot"
I'd love it if Red Moon would automatically pause itself while taking a screenshot. Just like when installing or updating an app.

[2017-01-10 17:46] NoahAndrews commented on #104
Yes! That would be fantastic.

[2017-01-10 17:53] NoahAndrews commented on #104
I think I'll play with it myself a bit. If I can get it to work well, I'll make a pull request.

[2017-01-10 19:08] NoahAndrews commented on #104
After a little research, I found three ways of detecting a screenshot (monitoring the screenshot folder, monitoring the notifications, and monitoring the list of running services). All three of these will only notify us after the screenshot has been taken. This may not be possible.

[2017-01-22 12:13] #46 closed

[2017-01-22 22:58] matteofilia commented on #104
Maybe it would be possible to apply a filter to the screenshot after it is taken?

[2017-01-23 01:57] smichel17 commented on #104
Possible, but it would look pretty bad. I wonder if there's a way to intercept the key combination for taking the screenshot (might require running as an accessibility service, like Torchie).

[2017-01-23 12:37] matteofilia commented on #104
Someone please correct me if I am incorrect, but let's say I am mixing 2 colours and one is opague. Wouldn't the equation be: ((1-opacity) * (red, green, blue) + opacity * (red, green, blue)) = (red, green, blue)?

We have the colour of the screen filter and the output image. If we applied the inverse of this equation on a per-pixel basis to the output image, and removed the colour of the screen f

[2017-01-23 14:20] smichel17 commented on #104
When I've tried playing around with stuff like this in gimp I've never been able to get good results; it breaks down near the extremes.

For example, start with a gradient from white to red. Now apply a red filter to it. Now try to apply some filter to reverse the red filter. You can get a gradient back, but it's shifted, because some of the near-red pixels got turned into solid red and became ind

[2017-01-23 15:18] matteofilia commented on #104
You have to calculate it on a **per-pixel** basis using the inverse of the equation. GIMP can't do that, hence why I did not use an actual image, just a solid colour to represent what you'd do to a single pixel. I'm almost certain I can get something figured out once I have time after exams.

[2017-01-27 21:16] smichel17 opened #106 "More complex toggling"
My filter turns on at sunset. Later, when I get into bed, I change it to `bed reading`. Then it automatically turns off in the morning.

The next evening, when it turns on again, I'd really like it to turn on using the `default` filter, not the `bed reading` filter.

I'm thinking of a UX kind of like this timer:

<img alt="timer" src="https://cloud.githubusercontent.com/assets/6563664/22387677/cdf

[2017-02-03 21:03] StefanBrand commented on #68
Hello! :)

Why is this closed? In the latest version on F-Droid (2.9.2) I still have to disable Red Moon manually every time an app needs root access.

[2017-02-03 22:27] raatmarien commented on #68
Do you have 'Automatic suspend' enabled? If so, what superuser app (with what package name) do you use?

[2017-02-03 22:51] StefanBrand commented on #68
I don't now (yet). I'm running a FP1 with KitKat 4.4.2. on a Mediatek MT6589 chipset.

I opened a new topic on the Fairphone forum and will let you know, when I have a definite answer.

https://forum.fairphone.com/t/which-superuser-manager-app-comes-preinstalled-with-kitkat/25865?u=stefan

[2017-02-09 17:50] matteocoder commented on #102
I can also confirm this bug on Moto G4 with Android 6.0.1 with red moon 2.9.2

Apps like Google maps work fine even with the battery saving setting, but red moon gets stuck.

[2017-02-12 21:04] smichel17 commented on #102
I believe this is the cause of the bug:

- Android has two ways of finding your location: GPS (precise) and cell/wifi networks (approximate).
  - These have separate permissions that apps can ask for. Red Moon asks for approximate.
- Finding approximate location takes longer than finding precise location.
- Right now, Red Moon only listens for location *while the app is open*.
- Nobody wants to si

[2017-02-13 19:57] Siltaar opened #107 "Working with GPS location also"
- [x] When location services get turned on and off, display a toast/snackbar letting the user know that we're updating, or that they need to enable location services.
  - [x] Also display this toast when we start searching for location updates
- [x] Remove LocationPreference, put the location into the useLocationPreference summary
  - [x] Trim the length/precision to something reasonable (currentl

[2017-02-13 20:14] raatmarien commented on #107
This would indeed be possible, but would require Red Moon to ask for permission to the orecise location of the user.

In the mean time, I would recommend you install UnifiedNlp and an location backend (Just search F-Droid for "location backend" for all the options. This will not only make the current Red Moon able to find your position, but it will also greatly improve the time it takes your phone

[2017-02-13 20:24] smichel17 commented on #107
See also #102

[2017-02-17 22:06] Siltaar commented on #107
Thanks raatmarien for your answer. I know UnifiedNlp and did not find reliable backends (my cell-towers are not in databases, and app to add them seem dead ; I'm living far from other WiFi than mine and don't want to register mine in such databases, and it's not only because I'm leaving in a boat that moves…). I consider WiFi beacon mass recording as an issue and don't want to encourage it by usin

[2017-02-22 13:07] raatmarien commented on #94
Sorry for never replying in this issue, I think that this can be closed now since #95 is merged :smile:

[2017-02-22 13:07] #94 closed

[2017-02-22 13:09] raatmarien commented on #106
I really like this idea, it seems like a very powerful feature. The only problem I see, is that it might be a lot of work to get it working (which I don't have time for), but if anyone can implement this, that would be great.

[2017-02-22 13:15] raatmarien commented on #104
I honestly think that this is will be unfeasible to fix. It's my understanding that different android phones handle screen shots differently which makes it hard to detect a screenshot. Furthermore, because you can only detect a screenshot after it has been taken, which means we have to alter the screenshot after it is saved, which could be quite complicated.

Also, I think this behaviour (although

[2017-02-22 13:30] smichel17 commented on #106
At the moment, I'm in the same boat.

[2017-02-22 13:36] smichel17 commented on #36
I think the original reason for this issue (notification not automatically dismissed) has been long fixed, and the reason this has stayed open (removal of the distinction between paused and stopped) was just merged into master in #95. If there's a reason to re-open this, let me know.

[2017-02-22 13:36] #36 closed

[2017-02-22 13:40] smichel17 commented on #70
For reference, there is now a generic SeekBarPreference that will eventually replace the others (or at least, they will all inherit from it). It is not currently used anywhere.

https://github.com/raatmarien/red-moon/blob/master/app/src/main/java/com/jmstudios/redmoon/preference/SeekBarPreference.kt

[2017-02-22 13:44] smichel17 commented on #97
The phone on which I could reproduce this unfortunately broke, and the notification dismisses properly on my new phone. The code in master right now has a lot more debugging enabled so @StefanBrand you can get a better log with the next release.

[2017-02-22 14:35] raatmarien commented on #93
This has been done by #95, which has been merged, so I'll close this issue :smiley:

[2017-02-22 14:35] #93 closed

[2017-02-23 05:04] dbolton opened #108 "Red Moon disables touch events in ownCloid app"
Steps to reproduce
1. Open and activate Red Moon
2. Open the ownCloud app
3. Tap to open a folder or file

Expected behavior
ownCloud should respond by opening the file or folder

Actual behavior
ownCloud doesn't respond to touch

[2017-02-23 12:32] smichel17 commented on #108
Owncloud has marked their app as secure, which prevents you from interacting with it if there is another app overlaid on top of it (so no other app can watch your touches and figure out what you're doing, or mislead you into clicking something you didn't mean to).

Red Moon uses an overlay to display the filter, so unfortunately Owncloud will not work when Red Moon is enabled. Nothing short of mak

[2017-02-23 12:37] smichel17 opened #109 "Update a few more strings to reflect new terminology"
In the notification, it should say `Start`, not `Resume`.

Automatic suspend should also be updated.

(Note to anyone reading this: it refers to what's in master, which hasn't been released yet).

[2017-02-23 12:47] smichel17 opened #110 "Package installer not recognized as secure app"
- On my Samsung Galaxy s6, api 23, Red Moon does not recognize the package installer as a secure app.
- App monitoring is working, though, because it pauses in owncloud.
- It does recognize the package installer on an emulated api 23 device.

I presume that Samsung is shipping a modified package installer with a different package name. But I don't have time to do the research to figure out what it

[2017-02-23 13:20] raatmarien commented on #110
To find out what the package name of the installer on Samsung is, you can try the following.

1. Enable DEBUG for CurrentAppMonitoringThread.
2. Turn on Red Moon's filter with suspend in secure apps
3. Monitor the logcat for the debug statement from this line https://github.com/raatmarien/red-moon/blob/master/app/src/main/java/com/jmstudios/redmoon/thread/CurrentAppMonitoringThread.kt#L47 to find

[2017-02-23 15:38] smichel17 commented on #110
Right, that makes sense. Can do tomorrow I think.

[2017-02-24 05:25] dbolton commented on #108
Makes sense. Thank you for the explanation.

[2017-02-24 05:25] #108 closed

[2017-02-24 14:45] #110 closed

[2017-02-24 19:10] #109 closed

[2017-02-24 23:32] kilroythe5th opened #112 "loading screen is bright white"
it would be cool if red moon showed a black or dark initial loading screen, since it's usually being used in the night

[2017-02-24 23:46] cao- commented on #112
What about using the dark theme?

[2017-02-25 00:48] smichel17 commented on #112
@cao- I believe @kilroythe5th is referring to the [placeholder ui](https://material.io/guidelines/patterns/launch-screens.html#launch-screens-placeholder-ui) shown between clicking the app's button and when the app actually loads, which does have a white background.

Red Moon loads pretty quickly, so you might not even see this screen on a new device.

The issue with choosing either white or the d

[2017-02-25 02:18] #112 closed

[2017-02-25 02:39] smichel17 commented on #97
@StefanBrand Also, I put up a debug build at http://smichel.me/files/red-moon/app-debug.apk
You should be able to install this alongside the official build from the play store.

[2017-02-25 03:18] #85 closed

[2017-02-25 04:11] smichel17 commented on #102
I put a debug build up at http://smichel.me/files/red-moon/app-debug.apk. @elumbella @matteocoder Could you try it out and see if it works for you?

[2017-02-25 04:12] smichel17 commented on #107
I put a debug build up at http://smichel.me/files/red-moon/app-debug.apk. @Siltaar Could you try it out and see if it works for you? You should be able to install it alongside the f-droid/play store version.

[2017-02-25 06:18] smichel17 opened #113 "Replace start and stop icons with on and off"
As of recent commits, language all refers to "Turning Red Moon [on|off]", not "[Starting|Stopping] the filter". It would make sense to have an icon that reflects this better (for use on the widget and in the notification).

[2017-02-25 06:22] #58 closed

[2017-02-25 06:29] smichel17 opened #114 "Update app intro"
I think one of our app intro screens should tell the user that some apps may not work while Red Moon is running, since that is one of the more surprising things to find out about the app. The last slide, about turning on Red Moon with the switch at the top, is probably exceedingly obvious now, so I'd vote for replacing that one.

[2017-02-25 06:33] matteocoder commented on #102
Yes the debug build can find the location instantly. Thank you so much for your awesome work!

[2017-02-25 06:35] smichel17 commented on #56
In the code in master, the FAB is gone and % signs should now display on the correct side of numbers (I'm not sure which side is the correct side, but `string.format()` should know).

For sliders, let's wait until after I've consolidated them to all use the same layout code (#70).

[2017-02-25 06:36] smichel17 commented on #58
I put the name of the active profile in the notification text instead of the obvious/redundant "Paused" or "Running. Pause to install apks", and renamed the action for switching profiles to "Next profile".

To pre-emptively address the concern that users may not know to pause the apk, see #114.

[2017-02-25 07:13] smichel17 opened #115 "Boot receiver does the wrong thing"
Right now bootreceiver seems to start the filter when and only when it should be off; probably an ! got dropped somewhere.

[2017-02-25 12:41] #115 closed

[2017-02-25 12:50] smichel17 commented on #84
I'm probably going to tackle #75 and #82 before this, which require making profiles a bit more flexible. Afterwards, this should be easy.

[2017-02-25 16:27] #70 closed

[2017-02-25 17:54] #80 closed

[2017-02-25 17:55] smichel17 commented on #80
Hooray for #95 which made this possible to do easily and cleanly! :)

[2017-02-25 18:02] smichel17 commented on #80
Here's the java equivalent of the code used to generate the intent, for anybody using this feature:

[code]

`filterIsOn` is a boolean that tells you whether the filter has been toggled on or off

[2017-02-25 18:17] smichel17 commented on #91
The privileged extension is not ready for mass use (or easy to install). Anybody who is using it knows it is unstable. We shouldn't worry about supporting it for now. I'll re-open this when there is a reliable way to install the privileged extension.

[2017-02-25 18:17] #91 closed

[2017-02-25 18:20] #90 closed

[2017-02-25 18:21] smichel17 commented on #107
Things I'd like to do:

- [ ] When searching for location, show the notification in the status bar, not the LocationPreference
- [ ] Remove LocationPreference, put the location into the useLocationPreference summary, along with a little text saying that Red Moon will automatically keep the location up to date.
- [ ] Start the LocationUpdateService any time the TimeToggleFragment is opened
- [ ] Do

[2017-02-25 18:23] smichel17 commented on #102
@elumbella If you can get a location at all, you can close this. I still want to do a little more work on location updating, but that's in #107.

[2017-02-25 19:22] elumbella commented on #102
@smichel17 it works perfectly now. Thanks a lot for the effort!

[2017-02-25 19:22] #102 closed

[2017-02-25 20:29] revuwa commented on #80
Thanks to anybody.
The original title was: "[Feature-request] Airplane mode toggle" and the final result isn't a solution for me, ('cause Tasker isn't open source).
In the meanwhile I found two open source apps which do exactly what I asked for, (toggling airplane mode to specific times):
* https://github.com/yankovskiy/SilentNight
* https://github.com/MBach/AutoAirplaneMode

For everyone with the

[2017-02-25 22:13] smichel17 opened #116 "Add an about page"
It can contain:

- Link to this repo
- Link to email @raatmarien
- Version number
- Explanation about #80, so that someone using the app might reasonably discover the feature

After we do that, we can replace the repo and email links with 'about' in the menu.

[2017-02-25 22:18] smichel17 commented on #80
I also try not to install proprietary apps on my phone, and plan on going Google-free as soon as soon as I get my next phone (current phone is too restricted), so I feel your pain, that this is not a solution to the problem.

I think that Red Moon should follow the Unix philosophy: do one thing well (in this case, that thing is filtering the screen at night). I don't think it should be a general t

[2017-03-02 17:51] smichel17 commented on #116
Closed in c7fe96d.

[2017-03-02 17:51] #116 closed

[2017-03-03 07:59] smichel17 commented on #11
See also #80.

[2017-03-03 08:26] smichel17 commented on #56
@danialbehzadi When you get a chance, could you download v2.10.0 (should be out on fdroid/gplay soon) and see if this is still an issue?

[2017-03-03 08:34] danialbehzadi commented on #56
Unfortunately I've upgraded my phone to LineageOS 14.1 (Android 7.1 Nougat) and can not check this. Even the older versions are aligned correctly on newer AOSP releases.

در ۳ مارس ۲۰۱۷ ۱۱:۵۶:۴۹ (GMT+03:30)، smichel17 <notifications@github.com> نوشت:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-03-03 08:46] smichel17 commented on #56
I tried it on an android 4.2 emulator, Arabic locale, and everything was correctly mirrored. I'm going to close this, and if anybody comes across other places where RTL is not working as it should, feel free to open another issue.

[2017-03-03 08:46] #56 closed

[2017-03-03 09:17] smichel17 commented on #100
After thinking about this a bit more, I think:

- I think the actual problem here is really simple: the filter just goes on too early, and we should move it a bit later.
- If we want to offer more flexibility, something like #106 is probably the best way.

[2017-03-03 14:49] smichel17 commented on #106
Comment by @siltaar in #33 is good context for why this feature would be useful.

[2017-03-04 02:58] smichel17 commented on #101
I guess it's "just" if you have root and know a thing or two about how android stores preferences 😛 (psa, check in /data/data/).

[2017-03-04 03:26] smichel17 commented on #33
@Siltaar Your long comment is a great analysis. Some of those will be addressed with #75, others with #106. For this issue, let's just focus on the part about the gradual transition. I'm not sure exactly how it should interact with something like #106, but we can worry about the future if/when we get there.

---
Here's what I'm planning on doing. Feedback welcome.

- For now, I won't add a new set

[2017-03-04 03:43] smichel17 commented on #100
#33 discusses fading the filter in, instead of turning on all at once. I'm debating whether fade should always happen, or whether it should be a setting. One option is to offer the fade *duration* as a setting (with 0 for off). In that case, changing the duration would effectively make the filter turn on later, closing this issue.

The point of setting the times from [ your location / the sun ] is

[2017-03-04 03:43] #100 closed

[2017-03-04 04:49] smichel17 commented on #5
Okay, here's a maybe controversial question: is it important that to be able to manually set your location?
Here's my logic; let me know if there's a hole or if you disagree with the principle.

**Principle:** The main advantage of automatically setting the timer based on location is that it requires almost no thought/effort put into configuration.

Therefore, if it takes more effort to manually s

[2017-03-04 07:11] smichel17 commented on #101
I looked into this, and we actually have more flexibility here than I thought we did. We get to choose between using the default behavior and controlling the brightness ourselves, on a (decimal) scale of 0 to 1. So, here's a bunch of options, depending on how "smart" we want to try to be.

- What we're doing right now but with a new preference: Toggle between default behavior and 0 (completely off

[2017-03-04 09:01] di72nn commented on #101
My only preference is to have the ability to disable that feature without disabling other features.

[2017-03-04 17:14] jgkamat commented on #101
I only care about turning it off completely (like @di72nn), because my backlight buttons are dim anyway.

I personally vote for: If Lower brightness is enabled, set the button backlight based on the dim level; if it is disabled, use the default behavior. (but I don't mind, as long as I can get 100% brightness).

[2017-03-04 17:40] smichel17 commented on #101
Current behavior is that backlight buttons are always turned completely off. I'd like to leave that as the default since some people want it (#39). So, I think I will add a 3-option setting.

- `Control brightness of hardware buttons`
  - `System managed`
  - `Vary with dim level`
  - `Turn off`

I'm interested in feedback about whether there's room for improvement to make the wording clearer.

[2017-03-04 20:35] jgkamat commented on #101
I think that `Vary with dim level` is a little vauge, although I'm not sure what would be better. I can't come up with anything that would be better (without adding a faq or other description). The other two options sound good to me though!

[2017-03-04 20:36] smichel17 commented on #101
Yeah, I haven't found anything super clear. What about `Same as dim level`? Or just `Same as dim`.

[2017-03-04 20:46] raatmarien commented on #101
What about ```Use filter dim level```?

[2017-03-04 23:23] smichel17 opened #121 "Decide on a mental model of the app, to inform language we use to describe it"
### Red Moon used to have a mental model described by this type of language:

Use the switch to enable and disable the app.
When Red Moon is running, it displays a filter to colorize and dim your screen.
Use the FAB to start and stop the filter.
Use profiles to quickly change the filter's settings.
`Automatic filter` allows you to automatically turn on and off the filter at certain times.
Red Moon

[2017-03-04 23:26] smichel17 commented on #101
Perfect. It doesn't fit with the mental model I was using to clean up Red Moon's language, but after some thought (hence my delayed reply) I think it's better to change the mental model than this phrasing (see #121).

[2017-03-05 20:46] Siltaar commented on #107
Oh, I was updating my f-droid list of application since 9 days, not seeing the update coming… So sorry for the delay.

I tested it, it worked perfectly. (and by the way, the UI updates are great).

(I even did update my redshift config file with my exact location as I had it under the eye)

[2017-03-05 20:56] Siltaar commented on #106
In fact it should be : next ringing alarm + 5 minutes (to be able to look at the phone and stop the alarm for instance… before getting full light from phone screen)

[2017-03-07 23:52] smichel17 opened #122 "Can we dim in a more intelligent way?"
Okay, here's the thought: There's two ways to dim the screen: Turning down the backlight and using the filter. Given the choice, I think I would always rather start with the backlight, and only engage the filter when the backlight reaches 0.

But, this is actually a really hard problem to solve.

- What kind of control over the backlight would we want to give? A single slider for dim that first co

[2017-03-08 00:44] smichel17 opened #123 "Fix the `Hardware button backlight` setting on unsupported devices"
On some devices (for example, my Galaxy S6), this setting has no effect. We should figure out which devices it doesn't work on, and see if there's a way to make it work. If there isn't, we should see if it's possible to identify unsupported devices and hide the option when it is not supported.
For now, I'll just going to include a notice that it doesn't work on all devices.

[2017-03-08 01:25] smichel17 commented on #101
I don't have any devices that will actually respond to the setting. So, while I think it should work, I'm not 100% sure. @di72nn @jgkamat and @dillbyrne (if you still have a phone that responds to this option), would you mind testing it out?

Aside from the obvious part of checking if the three options work as expected, it would also be great if you can change the setting while the filter is on, a

[2017-03-08 01:29] smichel17 commented on #101
One other question: Currently the `Use filter dim level` setting makes the button backlight go between 100% and 10%, same as the dim (you can only go to 90%). Can you try using that option and setting a filter at 90% dim, and let me know whether it feels like it should go all the way off, instead?

[2017-03-08 03:57] smichel17 commented on #121
I will close this when I've updated the readme to reflect this language.

[2017-03-08 04:59] #121 closed

[2017-03-08 05:53] smichel17 commented on #114
I think we should also walk people through some initial config during the intro.

Most people probably want the timer on and set based on location, and want automatic pause enabled. If we didn't need to ask for permissions, I'd make those the defaults. As it is, my experience setting someone up with Red Moon was: they clicked through the intro, understood to press the switch, and then were a littl

[2017-03-08 06:02] smichel17 commented on #61
I also do not think this is something we should add an option for. If there were a reliable way to detect whether the status bar is visible (ie, whether an app is full-screen), and just always apply the filter to the status bar at a slightly reduced level, I think that would be reasonable. But I am not confident such a thing exists.

[2017-03-08 09:17] di72nn commented on #101
Brief testing showed no problems. Settings update correctly while the filter is on.

I have no strong opinion regarding the 90% dim level.

[2017-03-08 15:23] smichel17 commented on #113
Outstanding question:

- Does the widget actually need to reflect state? Isn't is pretty dang obvious when Red Moon is on or not? The only time it wouldn't be is if you set a transparent filter.

Decisions:

- Use power icon in the tile and widget
  - Use a different icon when Red Moon is on? Some kind of a red outline or background
- Use play/pause icons in notification with text either Start/Sto

[2017-03-09 03:39] #101 closed

[2017-03-10 10:09] matteocoder opened #126 "Filter ignores the timer completely"
![screenshot_20170310-110159](https://cloud.githubusercontent.com/assets/22897138/23790912/56652546-0581-11e7-8396-7f6bd2ee55a6.png)

Even though the timer is on, you have to manually turn it on/off.

Moto G4 on 6.0.1 with Red Moon 2.10.0

[2017-03-10 14:26] smichel17 commented on #126
I'll try to reproduce, but it worked on both my device and an emulator. Are you able to grab a logcat?

[2017-03-10 14:45] matteocoder commented on #126
I guess. What do I need to search for?

[2017-03-10 15:55] smichel17 commented on #126
`TimeToggleChangeReceiver`, `ScreenFilterService`, and `TimeToggleFragment`.

[2017-03-10 16:13] matteocoder commented on #126
Ok, so this is what I did:

1) I connected my phone to the computer in debug mode and turned on the filter, but with the timer **off**
2)  I executed `adb logcat` from the terminal
3) I turned the timer on

this is what I found
[code]

[2017-03-10 16:20] smichel17 commented on #126
Set the timer so it'll go on in one minute, then wait a full 60 seconds (the timer gets set for the same second as the minute you're in now, so it will go off 60 seconds later, even if you set it right before the minute changes) and see if it gets anything?

[2017-03-10 16:35] matteocoder commented on #126
then I set the filter to turn on at 17:29 and turn off at 17:30 and it worked perfectly.
Maybe it was an update issue? I noticed that strange behavior reported above the morning after I updated the app. I usually keep my phone in airplane mode during the night and the phone is set to retrieve date and time from the network.

[2017-03-10 16:40] smichel17 commented on #126
Do you normally use times from location or custom times?

[2017-03-10 16:46] matteocoder commented on #126
Recently I didn't use the location feature because of the bug from the previous version. The configuration you see on the screenshot was kept intact from the latest update to the moment we were troubleshooting.

[2017-03-10 16:49] smichel17 commented on #126
Okay. Feel free to close this, or leave it open for a few days in case the bug reoccurs.

[2017-03-10 16:54] matteocoder commented on #126
I reinstalled the app just to make sure, then I set the filter to show up at 19:00 (it's 17:51 now) before turning the service on from the top toggle on the main screen. Then I turned on the service and the filter shows up regardless of that. I remember that it happened on previous versions of the app, but there was also a floating button on the lower right corner that paused/resumed the filter wi

[2017-03-10 18:09] smichel17 commented on #126
In the current version, if Red Moon is off\*, the service is not running\*\*. The switch does what the floating button used to do.

\*means the same thing as "if the filter is off" used to mean. See #121 for more info.

\*\*One exception: if the app is open, the service is running, so that the preview will start up faster, and to fix issues that could occur if the app got killed while it was runni

[2017-03-10 18:25] matteocoder commented on #126
Oh I see now. Actually yes, I've noticed from `strings.xml` that the code looks a lot more organized now. Thanks for helping me! If everything goes smoothly tomorrow I'll close the issue.

[2017-03-10 19:13] NoahAndrews opened #127 "When are you going to update the Google Play version?"

[2017-03-10 19:18] smichel17 commented on #127
I can't answer the question since I'm not @raatmarien, but as a workaround, you should be able to upgrade by installing the apk on github's [releases](https://github.com/raatmarien/red-moon/releases) page.

[2017-03-11 05:51] matteocoder commented on #126
Unfortunately the problem is still present, though this time with location-based time: yesterday, when the filter was active, I set the timer to make the filter disappear by the time based on my location (6:29), but by 6:38 the filter was still on.

What I had to do in order to make it work was to manually set the turn off time to 6:40.

[2017-03-11 15:39] smichel17 commented on #126
So far, this seems to happen when using automatic times, not custom times. There are three possible places this bug could be:

1. The alarm is not being scheduled, when times from location is on.
2. When times from location is on, the alarm is being scheduled for the wrong times.
3. The part of Red Moon that receives the alarm is never receiving it.
4. The alarm is received, but Red Moon is not tu

[2017-03-11 16:27] matteocoder commented on #126
@smichel17 thanks for being so helpful.
so for step 1 I had my location turned off and when I activated automatic times this is the log I got:

`03-11 17:12:02.007  7739  7739 I RedMoonApplication: onPreferenceChanged: pref_key_use_location
03-11 17:12:02.007  7739  7739 I Companion: Received start request
03-11 17:12:02.011  7739  7739 I TimeToggleFragment: auto: true, useLocation: true, enabled:

[2017-03-11 18:11] smichel17 commented on #126
Do you see a line that looks like this one from your earlier log?

[code]

[2017-03-11 18:39] smichel17 commented on #126
Yep, that's the bug (#107) we're intentionally triggering. There's two ways to get location: precise location using gps or approximate location using a network service (Google location services or one of the [UnifiedNlp](https://f-droid.org/repository/browse/?fdfilter=unified&fdid=com.google.android.gms) backends). These are separate android permissions.

Since Red Moon doesn't need your precise l

[2017-03-12 01:29] smichel17 commented on #21
I'd like to limit the scope of this issue even more, down to just the backend functionality for this (ie, the ability to be notified when the light sensor value changes). The rest is covered by #122.

[2017-03-12 09:29] matteocoder commented on #126
@smichel17 no I can't see either of those lines.

[2017-03-12 13:44] smichel17 commented on #126
@matteocoder I think I know the issue (number 1 in the list above). If I'm right, the workaround is to

1. Make sure location services are turned on before you turn on `Times from location`
2. Stay on the timer page until the location finishes updating (including, don't open the notification panel).

[2017-03-12 14:41] raatmarien commented on #127
Sorry it took a while, I've published v2.10.0 on Google Play. It should be available in a few hours.

[2017-03-12 14:41] #127 closed

[2017-03-12 16:26] smichel17 commented on #126
@matteocoder The bug was that the timer was still being set from the timer screen, even though location updating happens in a service now. So if you left that screen too soon, the timer wouldn't get set even though the location got updated.

This is a hard bug for me to reproduce in order to test, because both my device and emulated devices find the location really quickly. I have what I think is

[2017-03-12 16:30] #126 closed

[2017-03-12 16:37] matteocoder commented on #126
@smichel17 thanks for being so helpful! What does the fix do to resolve the issue?

[2017-03-12 18:09] matteocoder commented on #126
Also the workaround worked :)

[2017-03-12 18:45] smichel17 commented on #126
@matteocoder

The actual fix is moving lines (the ones annotated with `@Subscribe`) from `TimeToggleFragment` to `RedMoonApplication`. There's a little bit of cleanup in there along with the fix.

And now here's the detailed answer with way more than you probably ever wanted to know. Sorry if that's too simple or too complicated; I'm not sure how much programming / Android dev you know, so I tried

[2017-03-12 18:46] smichel17 commented on #126
Now that you have the background, you also understand why it worked: you're making sure not to do anything that would cause the TimeToggleFragment to stop listening for updated location times.

[2017-03-12 19:17] matteocoder commented on #126
Thanks for the very detailed explanation!

[2017-03-12 19:20] smichel17 commented on #126
At some point I'll take that and clean it up a bit and put it in a file in the repo

[2017-03-13 16:22] matteocoder commented on #114
Related to this issue, it is necessary to also think about the length of the sentences.
As shown in the screenshot below, text might be covered by the navbar at the bottom, either because the paragraph is too long or because the low resolution of the screen (even though the latter might not be a big issue anymore); this is especially true when dealing with verbose languages like Italian, which can

[2017-03-13 16:25] raatmarien commented on #114
Upgrading to AppIntro v4.1.0 should fix this as long as the strings don't get much longer than this.

[2017-03-13 16:30] matteocoder commented on #114
@raatmarien Awesome! when will the new intro be available?

[2017-03-14 06:06] smichel17 commented on #107
@Siltaar I put my checklist in your top comment for easier reference. Although I didn't modify your words at all, I should probably have asked you for permission, first. If you're not okay with it, I will set it back how it was.

[2017-03-14 08:56] Siltaar commented on #107
@smichel17 You're welcome.

[2017-03-14 17:18] smichel17 commented on #75
Since this will require changing the format of profile storage, we should consider whether it would be better to stick with using the sharedPreferences or just migrate to a database.

[2017-03-14 17:50] smichel17 commented on #75
Looked into Android databases a little and they would be overkill for our needs. SharedPrefs + JSON is totally sufficient.

[2017-03-15 06:49] smichel17 commented on #107
@raatmarien @\anyone else: I'm trying to come up with a non-hideous solution to the following problem. I wrote it in mostly non-technical language so anybody can try to help me take a crack at it:

The location service sends the UI certain messages. The ones we care about are:

- When location services are disabled, so the UI can prompt the user to enable them
- When location services are enabled,

[2017-03-15 15:33] StefanBrand opened #128 "Automatic dimming doesn't work in 2.10.0"
Hi, I had to roll back to 2.9.2 because in 2.10.0 Red Moon didn't turn off the filter in the morning. (I am not sure, if it also doesn't automatically turn on in the evening.)

Red Moon finds the location and it seems as if it would apply the correct sunrise time in the greyed out field. It simply doesn't turn off the filter at that time.

PS: Using a Fairphone 1 on KitKat 4.4.2.

[2017-03-15 18:17] smichel17 commented on #128
Fixed in 2.10.1. There is a workaround in 2.10.0. See #126.

[2017-03-15 18:30] smichel17 commented on #128
Let's leave this open until 2.10.1 comes out on gplay and f-droid so other people who might come here see it.

[2017-03-15 22:58] rplevka commented on #97
I was able to reproduce this. Just kill the app if it's already running and launch it again. This will bring up red-moon ui. Now, you should be able to dismiss the notification. After you turn RM on, you won't be able to dismiss it any longer (not even after you deactivate it)

[2017-03-15 23:05] rplevka opened #129 "Pause button disappears from the dropdown notification"
I don't know, whether this is a bug or a toggleable feature, but I usually loose the pause/continue button + profile switch from the dropdown notification area notif.
i need to enter redmoon ui in order to pause/unpause, ehich gets annoying.
Restarting the app did not bring the buttons back. Any ideas?

[2017-03-16 07:39] smichel17 commented on #129
Android will sometimes collapse notifications and hide their actions. You can expand them again by tapping on them and dragging down. If that's what's going on, this is just how Android works and there's nothing we can change about it. If it's something else, sounds like a bug. Is it also missing the action to switch profiles?

[2017-03-16 07:49] smichel17 commented on #97
Any time Red Moon is on, the notification should be permanent.
When Red Moon is turned off, the notification should not be permanent.
Sometimes when Red Moon is turned off, the notification should be dismissed automatically. Right now this only happens when turning off with the timer; I plan to make it always happen except when you turn off from the notification.

I did this:

- Turn on Red Moon
-

[2017-03-16 09:04] rplevka commented on #129
@smichel17 ha! you're right, i've been a long-time user yet android can still surprise me :)

thanks again

[2017-03-16 09:04] #129 closed

[2017-03-16 19:35] smichel17 commented on #107
Found a good way: UI can now send two messages: one to start the service and another to ask the service to start/stop sending updates.

[2017-03-18 00:28] #128 closed

[2017-03-18 01:10] smichel17 commented on #107
Fixed in 4790e80d

[2017-03-18 01:10] #107 closed

[2017-03-18 01:13] smichel17 commented on #107
There are a couple tweaks/improvements that could be made, but they are not worth spending any more time on right now. I'd be impressed if any user could identify them.

[2017-03-19 16:02] leoauri opened #130 "Master on/off not working"
Hi there,
Maybe related to #128 (also began with 2.10.0 on Fairphone 1 (although Android 4.2.2), but not resolved with 2.10.1 update)

The timer is switching the filter on and off successfully but the master switch does not turn the filter on or deactivate it when the timer has activated it.
Peculiar is that adjustment of the filter settings temporarily adds the overlay until the slider is release

[2017-03-19 16:12] leoauri opened #131 "Return phone brightness setting to "Auto" on filter deactivation"
Resolution steps (added by @smichel17, unmodified original report below):

- [ ] When we lower or restore the brightness, check if it is still lowered (in addition to whether we have previously lowered it).

---

My phone has an "auto" brightness setting which I always have it on.
At the moment after filter activation - deactivation, the brightness setting seems to be set at some fixed value inste

[2017-03-19 16:13] smichel17 commented on #130
Quoting myself from #126:

[2017-03-19 16:50] smichel17 commented on #131
The way it should work is based on the `Lower brightness` setting:

- Disabled: Red Moon should never modify your phone's brightness.
- Enabled: When it turns on, Red Moon will turn your phone's "auto" brightness off and set your phone's brightness level to the minimum. When Red Moon turns off, it will set your brightness back how it was beforehand.

You're on Android 4.2.2, correct? To debug, it

[2017-03-19 17:00] smichel17 commented on #130
Ah, I think I might have misread you. I thought this was about the switch functionality changing, but you are saying the new functionality is not working (ie, you cannot get the filter to turn on at all), correct?

Can you turn on the filter via a home screen widget?

[2017-03-19 18:04] smichel17 commented on #131
I did some testing on an Android 4.2 emulator. Things I found:

- The brightness setting seems to be very buggy even without Red Moon installed.
  - For example, I can go to `Settings` -> `Display` -> `Brightness`, and a dialogue appears with a brightness slider and a checkbox for automatic brightness. If I check the checkbox and click OK, then immediately open the dialogue again, the checkbox is

[2017-03-19 19:07] smichel17 commented on #131
The logcat includes this line:

`W/dalvikvm( 9423): VFY: unable to resolve static method 1394: Landroid/provider/Settings$System;.canWrite (Landroid/content/Context;)Z`

In some way this makes sense, since `Settings.System.canWrite(context)` is not available on API 17 (API 17 is Android 4.2, which grants the permission to write settings by default).

Red Moon does a check for what API you're on an

[2017-03-19 19:09] smichel17 commented on #131
I think I've found the cause..

[2017-03-19 20:54] leoauri commented on #130
Right, the master switch does not function as the floating button used to...
It mostly does nothing, and occasionally the expected behaviour as you describe...

[2017-03-19 20:57] leoauri commented on #130
Home screen widget works as expected!

[2017-03-19 21:29] leoauri commented on #131
Correct, 4.2.2
Any particular filters for the logcat you'd like?

[2017-03-19 21:30] leoauri commented on #131
I've not experienced bugginess with the brightness settings so can't corroborate that.

[2017-03-19 21:41] leoauri commented on #131
I just tested all of those, toggling the filter with the widget, and the setting was always returned to the preceding value!

[2017-03-19 21:45] leoauri opened #132 "Toggling the filter with widget makes app innaccessible through app switcher"
After using the widget from the home screen to toggle the filter, try to switch to the app screen / settings page via app switcher.  Instead the filter is toggled!
App switcher shows a preview of the home screen where the widget is sitting.
Can get to the app via notification
4.2.2  ;)

[2017-03-19 21:56] leoauri commented on #130
logcat while toggling master switch, are these entries interesting?
[code]

[2017-03-19 22:00] leoauri commented on #131
Currently can't reproduce.  When I posted it I had just noticed during day to day use and assumed it simply wasn't implemented so.  I'll let you if I notice under what conditions this crops up.

[2017-03-19 22:27] smichel17 commented on #131
@leoauri Pretty sure I fixed it in ^ that commit. Here's what happened:

Whenever we change to a given state, we tell that state to initialize itself. Things like:

- `OnState` fades in
- `OffState` fades out
- `PreviewState` turns on immediately with no fade
- `OnState` saves the previous brightness,  then lowers the brightness
- `OffState` restores the brightness back to the saved state

When we

[2017-03-19 22:29] smichel17 commented on #130
The relevant entries will be marked with one of `MainActivity`, `ScreenFilterService`, or `ScreenFilterPresenter`.

[2017-03-19 22:33] smichel17 commented on #130
While any logs from those 3 are probably helpful, the three most relevant are:

- two from the service starting with "onStartCommand" and "Received flag"
- one from the presenter starting with "Handling command"

[2017-03-19 22:53] smichel17 commented on #132
Ha! This is a good one.

There's two widgets. One (the square with the stop/start icon on it) is an actual widget. The other (the red moon icon) is a hack: it's actually a shortcut, like if you dragged an app from the listing of all apps to your home screen. When you launch Red Moon, it checks to see if you're doing so via the shortcut, and if so, toggles and closes. When you return via the switch

[2017-03-19 23:42] leoauri commented on #130
Update: behaviour works as expected with the icon widget version.
With the play/pause button version, it toggled the filter off on the first press, then didn't work for several keypresses, then started working as expected.

[2017-03-19 23:45] leoauri commented on #131
Yep, I think it was after phone restart.  Cool!

[2017-03-20 00:05] smichel17 commented on #130
The switch in the app does toggle using a slightly different method than all of the widgets, but it should end up triggering the same actions.

Can you check if the timer works? It uses the same method as the switch.

[2017-03-20 00:16] leoauri commented on #130
The timer seems to work without fail!

[2017-03-20 00:34] smichel17 commented on #130
I added a little more logging so we will have a little more to help debug this in the next release.

[2017-03-20 17:30] leoauri commented on #130
Output of `adb logcat MainActivity:V ScreenFilterService:V ScreenFilterPresenter:V *:S`

Toggling filter with widget (works):
[code]
Toggling the master switch just keeps giving the same kind of

[code]

[2017-03-20 21:50] smichel17 commented on #130
It looks like the command to stop/stop is not getting received. I don't know if it's an issue with transmission to the service or if the switch is not registering your touch correctly; we'll need the new debug output for that.

All the
[code]
output comes from the `Pause in secure apps` feature, so you can get cleaner logs if you disable it.

[2017-03-21 00:52] smichel17 commented on #79
I think I figured this out.

There's two settings that control your phone's backlight: a brightness slider and an "automatic" checkbox. These are changed separately, but the behavior of your backlight depends on both.

So, when we turn off automatic brightness, in the instant before we lower the brightness slider, the backlight changes back to whatever the manual brightness setting was, which migh

[2017-03-21 15:37] matteocoder commented on #126
@smichel17 This is probably the bug you were talking about recently, but I've found that in version 2.10.1, after tapping to search for location after the location is already set, the search will hang indefinitely, both with location set on "high accuracy" and on "battery saving". Here is the log:

03-21 16:18:41.364  9473  9473 I RedMoonApplication: onPreferenceChanged: pref_key_use_location
03-2

[2017-03-21 16:16] smichel17 commented on #126
Let's wait for @raatmarien to release v2.10.2 and then check again. I made a bunch of changes in #107 that make location updating *much* smarter (to the point where I removed the ability to manually force a location update because it was no longer necessary).

[2017-03-21 16:30] matteocoder commented on #126
@smichel17 ok! Does that change something in the strings.xml file? I've made a new italian translation based on the recent changes in 2.10, but I'd like to keep it up to date with the code so that the app could provide a consitent experience when the language is set to Italian.

[2017-03-21 16:43] smichel17 commented on #126
https://hosted.weblate.org/projects/red-moon/strings/it/

[2017-03-21 16:45] smichel17 commented on #126
If you do translation on weblate it'll also be merged automatically.

[2017-03-22 04:04] smichel17 commented on #79
Turns out I was wrong. The order definitely makes a difference, but either way there is a flash of brightness. If anyone else has ideas, I'd love to hear them.

[2017-03-25 11:28] raatmarien commented on #114
@matteocoder It's on master now, so it will be in the next release.

[2017-03-26 07:33] joeyjbeckman opened #133 "Temperature not remembered with Timer on."
Using Red Moon on Marshmallow, I have saved a custom filter with a temperature ~2800K, but at sunset when it automatically turns on, it reddens the screen to ~800K.

[2017-03-26 07:56] smichel17 commented on #133
Which version are you on? Does this occur if you change the saved filter or only when the filter is on custom?

Version 3.0, when it is released, has a lot of backend changes to profiles and it's likely that this bug does not exist on it (not because I specifically fixed it, but because of how many changes there were).

[2017-03-26 15:40] joeyjbeckman commented on #133
I am on version 2.10.1. And yes it also occurs if I change the saved filter.

Turning the filter on and then off has no effect, but changing to a different filter and then back to my filter corrects the temperature. Any idea when version 3.0 will be released?

[2017-03-26 17:55] katsel opened #134 "Respect daylight saving time with location based filter times"
I have "Filter times" set to "Times from location", to adjust color temperature based on sunrise/sunset. Worked perfectly so far, I'm really enjoying that feature of Red Moon.

We went to daylight saving time last night. Android adjusts time settings of my device automatically when that happens. However, Red Moon did not adapt to that change and switched to night mode 1 hour too early.

I would su

[2017-03-26 18:21] smichel17 commented on #134
Red moon should use the phone's time to schedule,  and each event is scheduled when the previous one happens. So, I suspect that it will correct itself after a cycle or two.

You can also force the times to reschedule by turning the timer off and on again.

[2017-03-27 03:22] smichel17 commented on #133
Basically once @raatmarien has the chance to look them over and make sure they are changes she wants to release.

[2017-03-27 17:37] katsel commented on #134
@smichel17: I tried your suggestion, but I still showing got incorrect sunrise/sunset times.

I got it working as follows:
1. enable GPS
2. switch "Times from location" off and on again.

This corrected the times.

I noticed that it's not just a daylight saving time issue. Once you enable "Times from location", Red Moon seems to stick with sunrise/sunset times from that single day. The thing is, s

[2017-03-27 21:22] smichel17 commented on #134
I think I know the issue and a fix.

[2017-03-27 21:24] smichel17 commented on #134
Agreed. There's some improvement to that in v2.10.2 but not a full fix. I'll do the full fix in v3.0.1.

[2017-03-28 22:20] #134 closed

[2017-03-29 10:58] katsel commented on #134
Sounds good to me. Thanks for taking care of this!

[2017-04-02 08:51] smichel17 commented on #133
@joeyjbeckman If you want to try this earlier to confirm whether the bug is fixed, you can get a debug version [here](http://smichel.me/files/red-moon/red-moon-debug-2017-04-02.apk) (from aa9c553, if you'd prefer to build yourself). The debug build will install alongside the version from fdroid/gplay.

[2017-04-02 09:05] #82 closed

[2017-04-02 15:48] smichel17 commented on #106
The way forward on this is slowly becoming more clear.

We are not far away from removing the `times from sun` option entirely -- we'd still keep the functionality, it would just be tied to on and off: in addition to manually selecting a time, you could select `sunset` or `sunrise` for each one individually. This would allow you to have Red Moon turn off at sunrise and also have use a custom time

[2017-04-02 16:18] smichel17 commented on #84
Done in #118

[2017-04-02 16:18] #84 closed

[2017-04-02 16:18] smichel17 commented on #75
Done in #118; will be released in v3.0.0.

[2017-04-02 16:18] #75 closed

[2017-04-02 17:24] smichel17 commented on #33
I've added rudimentary fade-in for v3.0.0. Right now it's pretty brittle -- even switching profiles will cancel the transition. It's hard-coded to an hour and works only (and always) when `Times from sun` is enabled.

[2017-04-02 17:30] smichel17 commented on #131
Going to leave this open because I've been experiencing some (unrelated) issues with brightness on the pre-release v3.0.0.

[2017-04-02 17:36] smichel17 commented on #130
@leoauri I believe v2.10.2 is out now

[2017-04-07 04:59] smichel17 opened #135 "Timer on by default"
Now that Red Moon no longer crashes if the timer is turned on when overlay permission is not granted, there's no reason not to enable the timer by default, using the default custom times.

[2017-04-07 05:01] smichel17 opened #136 "Screen is not filtered on first turn on"
Observed on a friend's device on v2.10.2, android 5.1.1.

After installing the app, the very first time the switch was toggled, the filter was not displayed. Toggling off and then on again made it work.

[2017-04-07 19:16] LukasThyWalls opened #137 "No automated function at all"
App Version: 2.10.2 from F-droid.
Android Version: Android 6.0 in Huawei P8 Lite with EMUI 4.0.

I don't know if i'm doing something wrong.

I can switch on/off the red filter with the general button in the app, but i can't make it work automaticly with the time function. It's activated and i put manual and automatic time (it picks the right time for my time zone) but the red filter only works wit

[2017-04-07 19:21] smichel17 commented on #137
Hi, thanks for the bug report!

Is this only using "Times from sun" or using custom times, as well?

I'm not 100% sure, but Red Moon *should* work without this. Better to keep it protected while we're trying to work this out, though :)

[2017-04-07 21:12] smichel17 commented on #137
@LukasThyWalls If it's not working using custom times, can you try installing a debug version from [here](http://smichel.me/files/red-moon/red-moon-debug-2017-04-07.apk) and see if the issue has been resolved in it. I just built it from what's currently the most recent version in the repo (031ef74). It should install alongside the release version.

[2017-04-07 21:30] LukasThyWalls commented on #137
Both. When i saw the comment, i tested putting some time near to actual time and nothing happens at reach, during and finishing the limits configured. The times set automaticly by location are correct, anyway.

Yes, normally i have issues with old apps or not well prepared ones. And with some old apps still have issues with that althought they are in protected apps list. For example, with Twilight

[2017-04-07 22:11] LukasThyWalls commented on #137
I tested the debug version, without any luck.

Steps i did:
- Installed debug version, put it as protected app, i used too "Keep Screen On" app to keep the screen on to see if something happens to the phone.
- At 23:40, i activated time function, and i put manual times as 23:45 and 00:00.
- If i switch on the main button, the filter switchs on, so i kept it off (i want to it put the red filter on

[2017-04-08 00:28] smichel17 commented on #137
In v2.10.0, I removed the floating button and moved its functionality to the top switch. I also removed "disable everything" functionality, which was confusing for many people and no longer needed, since now the timer has its own switch.

That is to say, the current top switch only affects whether Red Moon is turned on and filtering your screen; the timer is completely separate.

[2017-04-08 00:31] smichel17 commented on #137
I wonder if this is related to #130. Are you able to get a logcat?

[2017-04-08 14:26] smichel17 commented on #137
@LukasThyWalls It's a long shot, but can you see if this works?

- Set timer for one minute from now
- Return to the main screen
- Use the top switch to turn red moon on and then off
- Wait 60 seconds
  - This is because the timer gets scheduled to the same second of the minute that you're currently at. So, when you set the timer for one minute from now, you need to wait a full 60 seconds, not jus

[2017-04-08 15:38] LukasThyWalls commented on #137
Avoiding misunderstandings, i test a bunch of examples:
- At 17:08, i put timers to 17:08 - 00:00. After, i use main top switch on/off and wait until 17:09. Nothing happened.
- At 17:09, i put timers to 17:10 - 17:11. After, i use main top switch on/off and wait until 17:12. Nothing happened.
- At 17:21, i put timers to 17:23 - 17:25. After, i use main top switch on/off and wait until 17:28. Nothi

[2017-04-08 20:22] smichel17 commented on #137
Currently Red Moon doesn't have a way to dump its log. I probably won't add that because I'd either need to add an additional permission (to dump the logcat) or add database logging (more work than I'd like to do, given I don't plan to add much more to Red Moon after v3.0 becomes stable).

You can get a logcat from an un-rooted phone using adb on your computer. First, turn on `Settings > Developer

[2017-04-09 17:13] LukasThyWalls commented on #137
unfortunaly, i just pointing out that this UI "EMUI" and this official Android Version haven't USB debugging like others. I used ADB in my old phone (to root it), but this one is not that easy. I will try to do it but i need more time to learn to do it or find an alternative or root it (i doesn't need to root the phone until this thing)

[2017-04-09 18:57] smichel17 commented on #137
Ah, I see.

Adding full logging is still more work than I'd like to do, but I should be able to do something like show a toast with the relevant information for figuring out this bug. I should have time for that on Friday.

Do you know if this issue was present on v2.9.2 or earlier?

[2017-04-09 22:05] LukasThyWalls commented on #137
Tested with 2.9.0 and i have the same behaviour... Manual timer doesn't do anything, floating button (in this case) is the only one to switch on/off the red filter.

[2017-04-10 14:25] LukasThyWalls commented on #137
I just find the way to use ADB in my phone... a bit weird way http://www.syncios.com/android/how-to-debug-huawei-ascend-phone.html

---

At 16:07 i put the timers with 16:09-16:10 with the app opened all the time (and main switch always off). Nothing happened with the red filter, of course.

Note: I can't use `logcat --pid=xxxx`, it said invalid parameter, i used `logcat | grep xxxx` instead:

[co

[2017-04-10 16:11] smichel17 commented on #137
Okay. It looks like the alarm we set never triggers. I have enough information now to find out how to fix this, if it is possible.

[2017-04-13 14:22] joeyjbeckman commented on #133
I tried the debug version, but unfortunately it seems like the bug has not been fixed.

[2017-04-13 16:26] smichel17 commented on #133
Does it correct the temperature the next time Red Moon turns on using the timer, too, or only when you do it manually?

Can you reproduce this issue for intensity or dim level, too?

If you could share a specific order of steps to take in order to trigger the bug, that would be helpful, too.

[2017-04-13 22:01] di72nn opened #138 "Notification behavior is inconsistent"
The notification *sometimes* disappears when I press "Turn off". It seems the notification disappears only if the app was automatically launched on startup, but it doesn't disappear, if the app was manually started (not sure about it).

I'm using 2.10.2 from F-Droid. I don't remember noticing that behavior in the previous (recent) versions.
I have the "Times from sun" option enabled.

Sometimes I

[2017-04-14 03:25] smichel17 commented on #138
The intended behavior is that the notification will disappear when Red Moon is turned off via the app ui, the widget, and the quick settings tile (on android 7.0+), but not the notification itself.

The bug happened because I made a performance improvement. Red Moon handles filtering in a service, which always running if the UI is open or when Red Moon is on. Previously, when you turned Red Moon o

[2017-04-14 09:53] di72nn commented on #138
Thanks for the details.

I've built and installed the latest version from master (3a4ec5c), it seems I can reproduce the problem. I can provide logs if needed.

Yeah, thank, I'm aware of it, but I don't want to use that feature.

[2017-04-14 15:58] smichel17 commented on #138
Let me run through and see if I want to add any more logging first. Then, that would be great, since I can't reproduce on my device or an emulator (there are some bugs I can reproduce, but they are about not dismissing the notification when we should, not the other way around).

Because of permissions, or a different reason?

[2017-04-14 18:09] di72nn commented on #138
I don't need Red Moon to perform extra checks - I don't install APKs very often.

I also noticed that if I remove Red Moon from the "recent apps" list, the notification disappears the next time I press "Turn off".

BTW, I use Android 4.4.4.

[2017-04-15 01:04] smichel17 commented on #138
I definitely should have asked this. I can reproduce it in an emulator; no need for logs :)

[2017-04-15 01:10] smichel17 commented on #138
I know how to fix this. I'm done coding for tonight but I should have time to make a fix tomorrow.

[2017-04-15 21:25] smichel17 commented on #138
@di72nn Could you try 8cced8b and see if that fixes the issue? I think it should, but I ran into an issue with debug builds in the older emulator that prevented me from testing it fully.

(The bug is related to the package name changes that allow installing the debug build alongside release. It causes the notification actions not to work in the debug version; I'm not sure if it affects physical de

[2017-04-16 09:21] di72nn commented on #138
Seems to work fine now. Thank you.

[2017-04-16 15:06] smichel17 commented on #138
Great! I'll leave this open until 3.0 is released.

[2017-04-16 22:17] mirh commented on #69
You aren't linking or including play services in your program. Just its API (if any).
That's quite different: for as much as you (and the app) know it could even be as well you are talking with [MicroG](https://github.com/microg/android_external_GmsLib/tree/master/play-services-wearable).

Don't confuse *being FOSS* and *being able to work in a totally FOSS environment* (such as F-droid). Of cours

[2017-04-17 21:20] smichel17 commented on #137
From what I can find, your problem is something that would happen if Red Moon were not a protected app. I can't find anything about having this problem (AlarmManager not working) if the app is protected.

Just to make sure we're talking about the same thing: When you say "Protected, you mean `Settings > Advanced Settings > Battery Manager > Protected apps`, correct?

[2017-04-17 21:27] smichel17 commented on #131
I think 961255bd fixes the other backlight brightness issues.

[2017-04-17 21:48] LukasThyWalls commented on #137
Correct. And Red Moon is "Protected".

[2017-04-19 11:37] leoauri commented on #131
I'm still sometimes having issues on 2.10.2, the brightness is sometimes still set at a fixed value rather than auto after the timed deactivation of the filter.  Not always though

[2017-04-19 11:59] leoauri commented on #130
on 2.10.2
`adb logcat MainActivity:V ScreenFilterService:V ScreenFilterPresenter:V *:S`
activate and deactivate filter via in-app switch, log output null
widget shows a stop sign, although filter is inactive
tap widget, filter is activated, stop sign remains, log output:
[code]
In-app switch still no effect or log output
Tap widget, filter deactivated, widget shows a play symbol, log output:
[code

[2017-04-19 12:04] leoauri opened #139 ""Pause in secure apps" - still can't touch the app!"
I have this new since 2.10.2

Often, the filter is deactivated as expected in secure app (owncloud, install app), but the app still doesn't respond to touch.  Quite tricky to gain access to the app at all then!

I think it happened once after timer deactivation of the filter too, but I'm not completely sure how that went.

[2017-04-19 14:43] smichel17 commented on #139
Could you try a build from master? If you can't build yourself, there's a couple debug builds (albeit not quite the latest) at http://smichel.me/files/red-moon/

Reason being, I refactored the code for turning the filter on and off to hopefully make this kind of error less common. Curious if I already caught this.

[2017-04-20 19:17] smichel17 commented on #137
I'm not really sure what to do about this.If anybody else knows more about why AlarmManager would not work even when Red Moon is protected / knows what to do to fix this, please chime in.

[2017-04-20 19:59] smichel17 commented on #130
@leoauri I have a suspicion about what is causing this. Could you try building from 4e24436 (the `switchlogging` branch)? If you'd prefer not to build yourself, I put a debug build up here: http://smichel.me/files/red-moon/red-moon-debug-extra_switch_logging.apk

If my hunch is right, the app will crash when you try to use the master switch. It'll produce useful debug logs even if it doesn't crash

[2017-04-21 14:35] leoauri commented on #130
No problem, this is fun

First I opened the debug version, toggled the switch, no crash.

This was in the log when I opened it:
[code]

Switched master on again:
[code]

Switching off produced no log.

[2017-04-21 14:38] leoauri commented on #139
OK, I've got 3.0.0-DEBUG running, I'll see how it goes...

[2017-04-22 17:15] mirh commented on #122
Also, why not hooking into KCAL, or using a driver like CF.lumen?

[2017-04-22 17:50] smichel17 commented on #122
#20

[2017-04-22 17:55] smichel17 commented on #20
@mirh

I didn't know about it. Seems like it would be a cool thing to add support for. We'd need to figure out how to translate Red Moon's color/intensity/dim levels into KCAL's Sysfs variables. I haven't touched the math Red Moon uses for generating the filter color; maybe @raatmarien could figure out how that should work.

[2017-04-22 17:58] smichel17 commented on #20
Also, I think it would be great to get Red Moon more integrated into ~~cyanogenmod~~ LineageOS. Reaching out to those folks is on my list of things I'd like to do, but near the bottom, so don't expect it any time soon :P

[2017-04-22 18:30] mirh commented on #20
[Hint](https://twitter.com/chainfirexda/status/669826528516161536)

Well, as of now there's nothing to talk about in the first place imo. A filter (for as much open source and all) is really no special feat (or feature!) tbh.

[2017-04-22 18:40] smichel17 commented on #130
That's really bizzare. The click listener is being set correctly, but the system is not calling it on click.

Try http://smichel.me/files/red-moon/red-moon-debug-switch_fix_attempt_1.apk (built from 6d6566a), which reverts the only other change I can find since 2.9.2. According to the API reference, I shouldn't need SwitchCompat to use onClickListener, but maybe something is broken and not documen

[2017-04-22 18:42] smichel17 commented on #130
Actually, I'm considering doing this anyway, since we actually have menu options now.

[2017-04-22 18:53] smichel17 commented on #20
Both of these are closed source, and therefore I am not interested in adding support for them.

Adding a screen filter is not difficult. The real feature of Red Moon is that it allows a high degree of customization while staying really simple. For contrast, twilight has *less* customization and more complicated settings.

[2017-04-22 18:57] smichel17 commented on #139
👍 👎 ?

[2017-04-22 19:00] The0x539 commented on #20
"Support" for them was never mentioned, just doing something along the lines of what they do, adjusting colors instead of overlaying.

[2017-04-22 19:03] smichel17 commented on #137
@LukasThyWalls Do you know if the timer has worked in the past?

[2017-04-22 19:23] LukasThyWalls commented on #137
I was trying to use Red Moon since some time ago, testing the new versions updated in f-droid, but in anyone of them the timer worked. Maybe if you want to test some particular version to view what happens, i can do that.

[2017-04-22 19:30] smichel17 commented on #20
Right, which gets back to

I don't know of any open source app that adjusts colors instead of overlaying. LineageOS (and android itself) both have night modes to reduce blue light from the screen, but they have a lot of source code and it's time consuming to hunt down the place where they adjust the colors. In a cursory web search, I wasn't able to find documentation on it, either.

If I were work

[2017-04-22 19:47] smichel17 commented on #131
@leoauri I don't have time to do a lot of testing to track down the cause. If you (or anyone else reading this) can figure out a way to consistently reproduce this problem, I'll gladly take a swing at it).

[2017-04-23 12:03] mirh commented on #20
I was actually suggesting that I was expecting the behavior of the latter to be quite well documented.
I know Lightbulb and redshift are 2 very good FOSS desktop applications then.

https://android.googlesource.com/platform/frameworks/base/+/master/services/core/java/com/android/server/display/NightDisplayService.java
https://github.com/LineageOS/android_hardware_cyanogen/tree/cm-14.1/cmhw/org/cya

[2017-04-23 12:20] raatmarien commented on #20
Thanks for all the links @mirh, it's very interesting how Lineage does this.

I agree that really filtering the screen would be awesome, but I haven't been able to make that work. I did actually look into how Cyanogen Mod and CF Lumen accomplished it. How Cyanogen mod does it is not really applicable to Red Moon I think, because it is baked into the core operating system. There isn't any API which

[2017-04-23 14:22] #138 closed

[2017-04-23 19:17] smichel17 commented on #33
Before I proceed with improving the UX for this feature, I'd like to get some feedback about how the current setup works for you all.

[2017-04-23 19:25] smichel17 commented on #21
Thinking about this a little. The system already has an "automatic brightness" feature, that is often optimized for the hardware... in short, I don't think we should try to detect the ambient light level.

I do think it would make sense to allow more granularity in the hardware backlight controls (right now it's either full dim or manual control). I'm going to close this in favor of #122.

[2017-04-23 19:25] #21 closed

[2017-04-23 19:33] smichel17 commented on #113
Current thinking is:

- Tile has a good icon
- [ ] Notification icon should be play/pause
- [ ] Notification `next profile` icon should be smaller
- [ ] Widget icon should be like the tile
- If I decide to switch back to a FAB, it should be play/pause

[2017-04-23 20:43] bungabunga commented on #33
just installed RedMoon 3.0.0, will report tomorrow..

[2017-04-23 21:43] smichel17 opened #140 "Investigate posibilities for integration with Android/LineageOS"
Basically, getting Red Moon's interface worked in to the native filtering. That way we get the benefits of root mode (#20) without the maintenance burden of dealing with hardware directly.

This is pretty low on my list of priorities, so it'll be a while before I get around to it. If anybody knows an Android/LineageOS developer and wants to make an introduction, that would speed things up :)

[2017-04-23 21:50] smichel17 commented on #20
These are also the reasons why I'd rather explore getting Red Moon's interface integrated into LineageOS/Android (or creating an API of some sort); I made issue #140 about it.

Red Moon is nearing feature completion. When it gets there, I'll spend some time on stability, then move on to other projects. (I'll still try to support Red Moon on new devices; I just won't be adding anything new.) Overwr

[2017-04-23 22:23] mirh commented on #20
Tbh I don't see this app (or any one) really as improving all that much situation in those cases.
On the other hand, what's actually incredibly lacking is a FOSS alternative for phones with stock (or older custom) roms.

Not like one couldn't already call it a day even if support stopped on nougat, given where most of devices are.

Devices with no way to flash a custom kernel, or with nobody willi

[2017-04-23 23:16] smichel17 commented on #20
Certainly not as much, but I think it would still help some. For example, I know someone who uses Red Moon on top of livedisplay because livedisplay doesn't do enough for him on its own.

That's fair. Integration for new devices, driver solution for old ones.

I haven't checked XDA for a few months, so maybe something has changed. I doubt it, though; the AT&T galaxy S6 forces "security updates" wi

[2017-04-24 00:17] mirh commented on #20
I see.
And tbh the problems seem two: both a difficult device to tinker with, and also a community that even that of potato phones with forums cluttered by indian illiterates looks better.
According to [this post](https://forum.xda-developers.com/att-galaxy-s6/general/root-t3566743/page4) anyway, it's highly recommended you avoid getting anything higher than february patch level.
With enough luck

[2017-04-24 05:34] bungabunga commented on #33
first impression: i forgot to turn on timer feature when i installed the app so there was no automatic fade in. when i realised this in the morning at 7.00 i swiched the timer on. nothing happened. i think the right response from the app in this situation would be to turn off the redlight immediately.

[2017-04-24 06:25] smichel17 commented on #137
The timer seems to have stopped working on my phone on v3.0.0. Haven't had a chance to look into it yet, but maybe this is the same thing.

[2017-04-24 06:26] smichel17 commented on #33
https://github.com/raatmarien/red-moon/issues/137#issuecomment-296536441

[2017-04-24 13:32] LukasThyWalls commented on #137
I have tried to use Red Moon installing via f-droid, and almost i had installed some 2.9.x versions and all 2.10.x versions, and the timer never worked. Maybe is related, but my problem with it is from older versions than v3.0.0.

[2017-04-25 07:12] willemw12 opened #141 "No notification icon in the status bar"
There is no notification icon in the status bar to indicate that the filter is on.

LineageOS 14.1. Android 7.1.2. Red Moon (F-Droid) 2.10.2.

Is this a bug?

Or a missing feature? In that case, the feature request I like to propose is:

Display a notification icon in the status bar when the filter is on.
Have it as a permanent feature or as an option in the settings.

[2017-04-25 11:53] leoauri commented on #139
It still happened.
I do have a hunch that it may have to do with #137, as the problem seems to occur when I have loaded more various apps during the night.
On my phone, if I load an app, switch to another, and switch back, it's in the same state;  but if I load an app, switch to a lot of others and switch back some time later, the state is sometimes "forgotten" and the app reinitialised.  I'm not

[2017-04-25 12:05] leoauri commented on #130
6d6566a kind of works...!
If I tap the switch area, the switch toggles and the filter activates/deactivates..
If I drag the switch slider though, it is dragged into position but filter state isn't toggled...  If I then tap the switch area, the switch remains in place and the filter state is toggled to match the switch.
Well, that's good enough for me  :)

[2017-04-25 12:05] leoauri commented on #131
Sure, I'll let you know if I can find out how to replicate it.  Thanks

[2017-04-25 17:02] smichel17 commented on #141
(I misread this at first and thought the notification itself was not showing up)

At the moment, it is intended that there is no status bar icon, since most of the time it's obvious whether the screen is filtered or not.

Could you give an example of a time when / reason why you'd like an icon there?

[2017-04-25 17:30] smichel17 commented on #130
Right now the switch intentionally only responds to taps, not changes in position, in order to fix a different bug (below). I didn't realize dragging the switch was not considered a tap.

We need to toggle the position of the switch when Red Moon turns on (ie, because of the timer). The service that displays the filter can't currently distinguish the source of a signal telling it to turn on/off (w

[2017-04-25 17:35] smichel17 commented on #139
What do you mean by "reinitialized"?

[2017-04-25 18:19] matteocoder commented on #136
Can confirm also on version 3.0.0 on Moto G4 with Android 7.0

The app starts but the filter is not applied. A workaround is to go into the app and move any of the sliders.

[2017-04-25 18:32] willemw12 commented on #141
I have the display's adaptive brightness enabled. And have a filter app (Red Moon) for extra dimming, for example, for late in the evening and early in the morning.

If the screen is very dim it is not always immediately obvious to me if the filter is on. To check this, you have to go through all the notifications and try to find the Red Moon notification.

Also, I am used to seeing a notification

[2017-04-26 00:56] smichel17 commented on #79
I did a fair amount of testing on my device. I set the dim and intensity to 0 and enabled `lower brightness`, then observed what happened when I toggled Red Moon at all (12) combinations of:

- Under a lamp / in pitch darkness
- Automatic brightness enabled / disabled
- Brightness slider at minimum / halfway / full
  - I also tested a couple other positions, but not all combinations

**It turns ou

[2017-04-26 01:33] smichel17 commented on #130
@leoauri Should be fixed in master (built at http://smichel.me/files/red-moon/red-moon-debug-2017-04-25.apk).

[2017-04-26 01:45] smichel17 commented on #97
@rplevka

What method of killing the app did you use? Swiping it off of the recent apps screen? Going to app details > force stop? A task manager?

After you killed the app, was the screen still filtered? Was the notification shown? If so, was it dismissable?

[2017-04-26 22:33] smichel17 commented on #61
You should be able to do this via the notification. If you've added a widget and/or (on Android 7.0+) a quick settings tile, you can use them to toggle as well. If those aren't working, please open a bug about it :)

Realistically, I just don't see this ever happening. Adding an extra option for a feature that I doubt will be used by the majority of users goes against Red Moon's design goal of sta

[2017-04-26 22:33] #61 closed

[2017-04-26 23:14] smichel17 commented on #122
Currently thinking it might make sense to replace `lower brightness` with settings to control the system brightness. A couple ways we could do that:

1. An app-wide toggle for whether Red Moon should control system brightness.
  - If it's enabled, add a checkbox setting and another slider to each filter, to control the brightness level and whether automatic brightness is enabled
2. Same as 1, but

[2017-04-27 02:05] smichel17 commented on #122
Here's another one. It's more clever than the others. Maybe too clever.

- Add an app-wide toggle for whether to control the backlight
  - Allow toggling this from the notification
- Add a per-filter toggle to control whether automatic brightness is enabled
- Make the `dim` slider also control the system brightness.
  - If it's above halfway, it'll control the backlight brightness.
  - At halfway,

[2017-04-27 02:09] smichel17 commented on #141
Long thoughts. If you'd rather just skip to my conclusion, it's below the line.

Settings are a great way to add flexibility, so you can serve a wider audience, but they're often a trap. Each setting is a decision the user has to make. If the vast majority of users would make the same choice, we're just wasting their time and distracting them from the important questions. As a developer, it's temp

[2017-04-27 03:01] smichel17 opened #142 "Screen filter service being started multiple times"
Somehow, the service that shows the screen filter gets started multiple times, causing all kinds of weird behavior. This bug has been around for a while, but seems to happen randomly; I've never been able to reproduce it. I suspect it causes ~~#97,~~ #131, #133, and #139, which would explain why they are hard to reproduce.

It's an especially tricky bug because it's hard (impossible?) to spot from